In [1]:
#initial imports
import pandas as pd
import numpy as np

In [2]:
#files to load
population = ("Resources/population.csv")
country_code_file_path =("Resources/country-codes.csv") 
countries_region_income = ("Resources/countries_region_income.csv")

In [3]:
#read into dataframe
population_data = pd.read_csv(population)
df = pd.DataFrame(population_data)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1806279.0
266,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,30490639.0
267,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,60041996.0
268,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,18920657.0
269,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,15092171.0

In [4]:
#get header rows
#a. create empty list for headers
headers = []

In [5]:
#b. drop first 3 rows with no data
population_df = df.iloc[3:, :]

#c. use new first row as headers
headers = population_df.iloc[0]
population_df = population_df[1:]
population_df.columns = headers

population_df.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
5,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
6,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
7,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
8,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0
9,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0
10,Andorra,AND,"Population, total",SP.POP.TOTL,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,...,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0,77354.0
11,Arab World,ARB,"Population, total",SP.POP.TOTL,92197715.0,94724540.0,97334438.0,100034191.0,102832792.0,105736428.0,...,371437642.0,379696477.0,387899835.0,396028301.0,404042892.0,411942825.0,419851989.0,427870273.0,436080728.0,444517783.0
12,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,92417.0,100801.0,112112.0,125130.0,138049.0,149855.0,...,9141598.0,9197908.0,9214182.0,9262896.0,9360975.0,9487206.0,9630966.0,9770526.0,9890400.0,9991083.0
13,Argentina,ARG,"Population, total",SP.POP.TOTL,20481781.0,20817270.0,21153042.0,21488916.0,21824427.0,22159644.0,...,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,44938712.0,45376763.0,45808747.0

In [6]:
#drop columns that will not be of use
population_df = population_df.drop(population_df.columns[2:45], axis=1)

In [7]:
population_df = population_df.drop(population_df.columns[21:23], axis=1)

In [8]:
population_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,101665.0,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0
5,Africa Eastern and Southern,AFE,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,...,518468229.0,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0
6,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0
7,Africa Western and Central,AFW,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,...,350556886.0,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0
8,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,1719536.0,1733404.0,1747383.0,...,1775680.0,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0
266,"Yemen, Rep.",YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0
267,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,51216967.0,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0
268,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0
269,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0

In [9]:
#clean Up DataFrame
#replace column names
population_df = population_df.set_axis(['Country Name', 'Country Code', '2001', '2002','2003','2004','2005','2006',
                                            '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017',
                                            '2018','2019'], axis = 1)
population_df.head()

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,101665.0,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0
5,Africa Eastern and Southern,AFE,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,...,518468229.0,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0
6,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0
7,Africa Western and Central,AFW,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,...,350556886.0,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0
8,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0

In [10]:
print(population_df.dtypes)
print(population_df.shape)

Country Name     object
Country Code     object
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
dtype: object
(266, 21)

## merge with country codes list

In [11]:
#create df
#read in df for with country codes
country_codes = pd.read_csv(country_code_file_path)
country_codes_df = pd.DataFrame(country_codes)
country_codes_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [12]:
#rename country column in country_codes_df
country_codes_df = country_codes_df.rename({"English short name lower case":"Country Name", "Alpha-3 code":"Country Code"}, axis=1)
country_codes_df

          Country Name Alpha-2 code Country Code  Numeric code     ISO 3166-2
0          Afghanistan           AF          AFG             4  ISO 3166-2:AF
1        Åland Islands           AX          ALA           248  ISO 3166-2:AX
2              Albania           AL          ALB             8  ISO 3166-2:AL
3              Algeria           DZ          DZA            12  ISO 3166-2:DZ
4       American Samoa           AS          ASM            16  ISO 3166-2:AS
..                 ...          ...          ...           ...            ...
241  Wallis and Futuna           WF          WLF           876  ISO 3166-2:WF
242     Western Sahara           EH          ESH           732  ISO 3166-2:EH
243              Yemen           YE          YEM           887  ISO 3166-2:YE
244             Zambia           ZM          ZMB           894  ISO 3166-2:ZM
245           Zimbabwe           ZW          ZWE           716  ISO 3166-2:ZW

[246 rows x 5 columns]

In [13]:
#merge df with region_income_df
population_df = population_df.merge(country_codes_df, how="left", left_on=["Country Code"], right_on=["Country Code"])
population_df

,Country Name_x,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Country Name_y,Alpha-2 code,Numeric code,ISO 3166-2
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,Aruba,AW,533.0,ISO 3166-2:AW
1,Africa Eastern and Southern,AFE,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0,465581372.0,478166911.0,491173160.0,...,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Afghanistan,AF,4.0,ISO 3166-2:AF
3,Africa Western and Central,AFW,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0,313985474.0,322741656.0,331772330.0,...,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,NaN,NaN,NaN,NaN
4,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Angola,AO,24.0,ISO 3166-2:AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,1719536.0,1733404.0,1747383.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Yemen,YE,887.0,ISO 3166-2:YE
263,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,South Africa,ZA,710.0,ISO 3166-2:ZA
264,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Zambia,ZM,894.0,ISO 3166-2:ZM
265,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Zimbabwe,ZW,716.0,ISO 3166-2:ZW

In [14]:
print(population_df.columns)

Index(['Country Name_x', 'Country Code', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Country Name_y',
       'Alpha-2 code', 'Numeric code', 'ISO 3166-2'],
      dtype='object')

In [15]:
#check null values
population_df.isnull().sum()

Country Name_x     0
Country Code       0
2001               1
2002               1
2003               1
2004               1
2005               1
2006               1
2007               1
2008               1
2009               1
2010               1
2011               1
2012               2
2013               2
2014               2
2015               2
2016               2
2017               2
2018               2
2019               2
Country Name_y    54
Alpha-2 code      55
Numeric code      54
ISO 3166-2        54
dtype: int64

In [16]:
#Check that null values are not actually countries
new_null_rows = population_df[population_df.isna().any(axis=1)]
new_null_rows_df = pd.DataFrame(new_null_rows)
new_null_rows_df["Country Name_x"]

1                            Africa Eastern and Southern
3                             Africa Western and Central
7                                             Arab World
36                        Central Europe and the Baltics
38                                       Channel Islands
49                                Caribbean small states
51                                               Curacao
61           East Asia & Pacific (excluding high income)
62                            Early-demographic dividend
63                                   East Asia & Pacific
64         Europe & Central Asia (excluding high income)
65                                 Europe & Central Asia
68                                             Euro area
69                                               Eritrea
73                                        European Union
74              Fragile and conflict affected situations
95                                           High income
98                Heavily indebted poor countries (HIPC)
102                                            IBRD only
103                                     IDA & IBRD total
104                                            IDA total
105                                            IDA blend
107                                             IDA only
110                                       Not classified
128    Latin America & Caribbean (excluding high income)
134                            Latin America & Caribbean
135         Least developed countries: UN classification
136                                           Low income
139                                  Lower middle income
140                                  Low & middle income
142                            Late-demographic dividend
153                           Middle East & North Africa
156                                        Middle income
161    Middle East & North Africa (excluding high inc...
170                                        North America
171                                              Namibia
181                                         OECD members
183                                   Other small states
191                             Pre-demographic dividend
197                          Pacific island small states
198                            Post-demographic dividend
204                                           South Asia
215           Sub-Saharan Africa (excluding high income)
216                                          South Sudan
217                                   Sub-Saharan Africa
218                                         Small states
225                            Sint Maarten (Dutch part)
230           East Asia & Pacific (IDA & IBRD countries)
231         Europe & Central Asia (IDA & IBRD countries)
236    Latin America & the Caribbean (IDA & IBRD coun...
238    Middle East & North Africa (IDA & IBRD countries)
240                              South Asia (IDA & IBRD)
241            Sub-Saharan Africa (IDA & IBRD countries)
249                                  Upper middle income
259                                                World
261                                               Kosovo
Name: Country Name_x, dtype: object

In [17]:
#drop rows that are not countries
population_df = population_df.dropna()
population_df

,Country Name_x,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Country Name_y,Alpha-2 code,Numeric code,ISO 3166-2
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,Aruba,AW,533.0,ISO 3166-2:AW
2,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Afghanistan,AF,4.0,ISO 3166-2:AF
4,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Angola,AO,24.0,ISO 3166-2:AO
5,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Albania,AL,8.0,ISO 3166-2:AL
6,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,Andorra,AD,20.0,ISO 3166-2:AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Samoa,WS,882.0,ISO 3166-2:WS
262,"Yemen, Rep.",YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Yemen,YE,887.0,ISO 3166-2:YE
263,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,South Africa,ZA,710.0,ISO 3166-2:ZA
264,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Zambia,ZM,894.0,ISO 3166-2:ZM
265,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Zimbabwe,ZW,716.0,ISO 3166-2:ZW

In [18]:
#clean up data frame

#a. drop country name row from GDP_growth_df
population_df = population_df.drop(['Country Name_x', 'Alpha-2 code', 'Numeric code', 'ISO 3166-2'], axis=1)

#b. rename new Country name Column
population_df = population_df.rename({"Country Name_y": "Country Name"}, axis=1)

In [19]:
#c. list column names 
columns = list(population_df.columns.values)
print(columns)

['Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', 'Country Name']

In [20]:
#d.reorganize columns
population_df = population_df.loc[:,["Country Name",'Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']]
population_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,101665.0,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0
2,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,29185511.0,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0
4,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,23356247.0,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0
5,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0
6,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,84454.0,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,185944.0,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0
262,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23154854.0,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0
263,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,51216967.0,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0
264,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,13605986.0,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0
265,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12697728.0,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0

In [37]:
#create list of years
years = ['2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019']


for i in years:
    old_format = population_df[i]
    new_format = population_df[i].map("{:,.0f}".format)
    new_format_df = pd.DataFrame([new_format])
    print(new_format_df)
    
    
#     population_df = population_df
#     population_df = pd.merge(population_format, how="left", left on)
    
    
    
    
#     population_format_df = pd.DataFrame(population_format)
#     population_df.replace(population_df[i], formula_df
# # population_df
    
   



# help with itterating over each row found at https://www.youtube.com/watch?v=LHE0g1ghfV4
# for data in population_df.iterrows():
#     for value in data:
#         print(value)


# [REPLACE WITH FUNCTION]
#format population values
# population_df["2001"] = population_df["2001"].map("{:,.0f}".format)
# population_df["2002"] = population_df["2002"].map("{:,.0f}".format)
# population_df["2003"] = population_df["2003"].map("{:,.0f}".format)
# population_df["2004"] = population_df["2004"].map("{:,.0f}".format)
# population_df["2005"] = population_df["2005"].map("{:,.0f}".format)
# population_df["2006"] = population_df["2006"].map("{:,.0f}".format)
# population_df["2007"] = population_df["2007"].map("{:,.0f}".format)
# population_df["2008"] = population_df["2008"].map("{:,.0f}".format)
# population_df["2009"] = population_df["2009"].map("{:,.0f}".format)
# population_df["2010"] = population_df["2010"].map("{:,.0f}".format)
# population_df["2011"] = population_df["2011"].map("{:,.0f}".format)
# population_df["2012"] = population_df["2012"].map("{:,.0f}".format)
# population_df["2013"] = population_df["2013"].map("{:,.0f}".format)
# population_df["2014"] = population_df["2014"].map("{:,.0f}".format)
# population_df["2015"] = population_df["2015"].map("{:,.0f}".format)
# population_df["2016"] = population_df["2016"].map("{:,.0f}".format)
# population_df["2017"] = population_df["2017"].map("{:,.0f}".format)
# population_df["2018"] = population_df["2018"].map("{:,.0f}".format)
# population_df["2019"] = population_df["2019"].map("{:,.0f}".format)
# population_df

         0           1           2          3       4          5    \
2001  92,892  21,606,992  16,945,753  3,060,173  67,344  3,302,722

             6          7       8       9    ...         200     201      202  \
2001  37,275,644  3,050,686  58,496  77,212  ...  24,646,471  20,675  108,549

             203      204      205         206         207         208  \
2001  80,742,500  189,209  175,394  17,918,369  45,571,272  10,692,197

             209
2001  11,923,906

[1 rows x 210 columns]
         0           1           2          3       4          5    \
2002  94,992  22,600,774  17,519,418  3,051,010  70,048  3,478,769

             6          7       8       9    ...         200     201      202  \
2002  37,681,743  3,033,976  59,077  78,298  ...  25,100,407  21,128  108,509

             203      204      205         206         207         208  \
2002  81,534,406  193,927  176,410  18,443,684  46,150,913  10,971,704

             209
2002  11,954,293

[1 rows x 210 columns]
         0           1           2          3       4          5    \
2003  97,016  23,680,871  18,121,477  3,039,616  73,180  3,711,931

             6          7       8       9    ...         200     201      202  \
2003  38,087,866  3,017,938  59,495  79,311  ...  25,551,624  21,674  108,505

             203      204      205         206         207         208  \
2003  82,301,650  198,960  177,481  18,985,001  46,719,203  11,256,740

             209
2003  11,982,219

[1 rows x 210 columns]
         0           1           2          3       4          5    \
2004  98,744  24,726,689  18,758,138  3,026,939  76,250  4,068,577

             6          7       8       9    ...         200     201      202  \
2004  38,491,970  3,000,715  59,684  80,347  ...  25,996,594  22,329  108,466

             203      204      205         206         207         208  \
2004  83,062,819  204,123  178,597  19,540,096  47,291,610  11,550,641

             209
2004  12,019,911

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2005  100,028  25,654,274  19,433,604  3,011,487  78,871  4,588,222

             6          7       8       9    ...         200     201      202  \
2005  38,892,924  2,981,262  59,557  81,462  ...  26,432,445  23,106  108,453

             203      204      205         206         207         208  \
2005  83,832,662  209,282  179,722  20,107,416  47,880,595  11,856,244

             209
2005  12,076,697

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2006  100,830  26,433,058  20,149,905  2,992,547  80,995  5,300,172

             6          7       8       9    ...         200     201      202  \
2006  39,289,876  2,958,301  59,109  82,715  ...  26,850,190  24,022  108,369

             203      204      205         206         207         208  \
2006  84,617,545  214,379  180,874  20,687,648  48,489,464  12,173,518

             209
2006  12,155,496

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2007  101,226  27,100,542  20,905,360  2,970,017  82,682  6,168,846

             6          7       8       9    ...         200     201      202  \
2007  39,684,303  2,932,615  58,367  84,029  ...  27,247,601  25,050  108,337

             203      204      205         206         207         208  \
2007  85,419,588  219,464  182,045  21,282,514  49,119,766  12,502,958

             209
2007  12,255,920

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2008  101,362  27,722,281  21,695,636  2,947,314  83,860  7,089,486

             6          7       8       9    ...         200     201      202  \
2008  40,080,159  2,907,615  57,490  85,394  ...  27,635,827  26,096  108,397

             203      204      205         206         207         208  \
2008  86,243,424  224,700  183,270  21,892,149  49,779,472  12,848,531

             209
2008  12,379,553

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2009  101,452  28,394,806  22,514,275  2,927,519  84,461  7,917,368

             6          7       8       9    ...         200     201      202  \
2009  40,482,786  2,888,094  56,675  86,743  ...  28,031,010  27,035  108,404

             203      204      205         206         207         208  \
2009  87,092,250  230,244  184,553  22,516,464  50,477,013  13,215,142

             209
2009  12,526,964

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2010  101,665  29,185,511  23,356,247  2,913,021  84,454  8,549,998

             6          7       8       9    ...         200     201      202  \
2010  40,788,453  2,877,314  56,084  88,030  ...  28,439,942  27,796  108,357

             203      204      205         206         207         208  \
2010  87,967,655  236,216  185,944  23,154,854  51,216,967  13,605,986

             209
2010  12,697,728

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2011  102,050  30,117,411  24,220,660  2,905,195  83,748  8,946,778

             6          7       8       9    ...         200     201      202  \
2011  41,261,490  2,876,536  55,755  89,250  ...  28,887,873  28,326  108,290

             203      204      205         206         207         208  \
2011  88,871,384  242,658  187,469  23,807,586  52,003,759  14,023,199

             209
2011  12,894,323

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2012  102,565  31,161,378  25,107,925  2,900,401  82,427  9,141,598

             6          7       8       9    ...         200     201      202  \
2012  41,733,271  2,884,239  55,669  90,407  ...  29,360,827  28,654  108,188

             203      204      205         206         207         208  \
2012  89,801,926  249,505  189,089  24,473,176  52,832,659  14,465,148

             209
2012  13,115,149

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2013  103,165  32,269,592  26,015,786  2,895,092  80,770  9,197,908

             6          7       8       9    ...         200     201      202  \
2013  42,202,935  2,897,593  55,717  91,510  ...  29,781,046  28,850  108,041

             203      204      205         206         207         208  \
2013  90,752,593  256,637  190,712  25,147,112  53,687,125  14,926,551

             209
2013  13,350,378

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2014  103,776  33,370,804  26,941,773  2,889,104  79,213  9,214,182

             6          7       8       9    ...         200     201      202  \
2014  42,669,500  2,912,403  55,791  92,562  ...  30,042,973  28,985  107,882

             203      204      205         206         207         208  \
2014  91,713,850  263,888  192,220  25,823,488  54,544,184  15,399,793

             209
2014  13,586,710

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2015  104,339  34,413,603  27,884,380  2,880,703  77,993  9,262,896

             6          7       8       9    ...         200     201      202  \
2015  43,131,966  2,925,559  55,806  93,571  ...  30,081,827  29,148  107,712

             203      204      205         206         207         208  \
2015  92,677,082  271,128  193,510  26,497,881  55,386,369  15,879,370

             209
2015  13,814,642

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2016  104,865  35,383,028  28,842,482  2,876,101  77,295  9,360,975

             6          7       8       9    ...         200     201      202  \
2016  43,590,368  2,936,147  55,739  94,520  ...  29,851,249  29,355  107,516

             203      204      205         206         207         208  \
2016  93,640,435  278,326  194,540  27,168,210  56,207,649  16,363,449

             209
2016  14,030,338

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2017  105,361  36,296,111  29,816,769  2,873,457  76,997  9,487,206

             6          7       8       9    ...         200     201      202  \
2017  44,044,811  2,944,789  55,617  95,425  ...  29,402,480  29,567  107,281

             203      204      205         206         207         208  \
2017  94,600,643  285,499  195,358  27,834,811  57,009,751  16,853,608

             209
2017  14,236,599

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2018  105,846  37,171,922  30,809,787  2,866,376  77,008  9,630,966

             6          7       8       9    ...         200     201      202  \
2018  44,494,502  2,951,741  55,461  96,282  ...  28,887,117  29,795  107,001

             203      204      205         206         207         208  \
2018  95,545,959  292,675  196,128  28,498,683  57,792,520  17,351,714

             209
2018  14,438,812

[1 rows x 210 columns]
          0           1           2          3       4          5    \
2019  106,310  38,041,757  31,825,299  2,854,191  77,146  9,770,526

             6          7       8       9    ...         200     201      202  \
2019  44,938,712  2,957,728  55,312  97,115  ...  28,515,829  30,033  106,669

             203      204      205         206         207         208  \
2019  96,462,108  299,882  197,093  29,161,922  58,558,267  17,861,034

             209
2019  14,645,473

[1 rows x 210 columns]

## region Income

In [22]:
#read in csv
region_income = pd.read_csv(countries_region_income)

#create DataFrame
region_income_df = pd.DataFrame(region_income)
region_income_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [23]:
#merge df with region_income_df
population_df = population_df.merge(region_income_df, how="left", left_on=["Country Code"], right_on=["Country Code"])
population_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,Latin America & Caribbean,High income,NaN,Aruba
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Europe & Central Asia,Upper middle income,NaN,Albania
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,Europe & Central Asia,High income,NaN,Andorra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,East Asia & Pacific,Lower middle income,The reporting period for national accounts dat...,Samoa
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [24]:
#check null values
population_df.isnull().sum()

Country Name      0
Country Code      0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
2018              0
2019              0
Region            0
IncomeGroup       1
SpecialNotes    124
TableName         0
dtype: int64

In [25]:
#drop unnecessary columns
#a. list columns
columns = list(population_df.columns.values)
print(columns)

['Country Name', 'Country Code', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName']

In [26]:
#b. drop columns
population_df = population_df.drop(['Region', 'SpecialNotes', 'TableName'], axis=1)
population_df

,Country Name,Country Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,IncomeGroup
0,Aruba,ABW,92892.0,94992.0,97016.0,98744.0,100028.0,100830.0,101226.0,101362.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,High income
1,Afghanistan,AFG,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0,26433058.0,27100542.0,27722281.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,Low income
2,Angola,AGO,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0,20149905.0,20905360.0,21695636.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,Lower middle income
3,Albania,ALB,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,Upper middle income
4,Andorra,AND,67344.0,70048.0,73180.0,76250.0,78871.0,80995.0,82682.0,83860.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Samoa,WSM,175394.0,176410.0,177481.0,178597.0,179722.0,180874.0,182045.0,183270.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,Lower middle income
206,Yemen,YEM,17918369.0,18443684.0,18985001.0,19540096.0,20107416.0,20687648.0,21282514.0,21892149.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,Low income
207,South Africa,ZAF,45571272.0,46150913.0,46719203.0,47291610.0,47880595.0,48489464.0,49119766.0,49779472.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,Upper middle income
208,Zambia,ZMB,10692197.0,10971704.0,11256740.0,11550641.0,11856244.0,12173518.0,12502958.0,12848531.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,Low income
209,Zimbabwe,ZWE,11923906.0,11954293.0,11982219.0,12019911.0,12076697.0,12155496.0,12255920.0,12379553.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,Lower middle income

## Top 10, bottom 10, mean

In [27]:
# Sort and Find top 10 countries
#a. check Data Types
# population_df.dtypes

#b. change dtypes to float
# population_df["2001"] = population_df["2001"].astype(int)

# top_countries = population_df.sort_values(by = "2019", ascending = False)
# top_countries.head(10)