# Importing and Cleaning final_consumption.csv file

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import Data file
consumption_exp = pd.read_csv("../Resources/final_consumption_expenditure.csv")
consumption_df = pd.DataFrame(consumption_exp)
consumption_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,2.021000e+03
4,Aruba,ABW,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,2.339665e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.189571e+09,6.674971e+09,7.228622e+09,6.213041e+09,6.271305e+09,6.538834e+09,7.241423e+09,7.312918e+09,7.625216e+09,8.728180e+09
266,"Yemen, Rep.",YEM,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Final consumption expenditure (current US$),NE.CON.TOTL.CD,5.986398e+09,6.220198e+09,6.633197e+09,7.186197e+09,8.073797e+09,8.717797e+09,...,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,2.780940e+11,3.357040e+11
268,Zambia,ZMB,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.647784e+10,1.805201e+10,1.811909e+10,1.390407e+10,1.414342e+10,1.570581e+10,1.517567e+10,1.396964e+10,9.633632e+09,NaN
269,Zimbabwe,ZWE,Final consumption expenditure (current US$),NE.CON.TOTL.CD,9.284669e+08,9.413203e+08,9.633679e+08,1.019981e+09,1.093372e+09,1.132393e+09,...,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,1.699446e+10,NaN

In [3]:
# Droping the top 3 rows
consumption_df = consumption_df.drop(range(0,3))
consumption_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
3,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,2.021000e+03
4,Aruba,ABW,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,2.339665e+09,NaN
5,Africa Eastern and Southern,AFE,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11,7.407820e+11,8.571350e+11
6,Afghanistan,AFG,Final consumption expenditure (current US$),NE.CON.TOTL.CD,4.666667e+08,4.777777e+08,4.666667e+08,7.022222e+08,7.622222e+08,9.955556e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11,5.944310e+11,6.039400e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.189571e+09,6.674971e+09,7.228622e+09,6.213041e+09,6.271305e+09,6.538834e+09,7.241423e+09,7.312918e+09,7.625216e+09,8.728180e+09
266,"Yemen, Rep.",YEM,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Final consumption expenditure (current US$),NE.CON.TOTL.CD,5.986398e+09,6.220198e+09,6.633197e+09,7.186197e+09,8.073797e+09,8.717797e+09,...,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,2.780940e+11,3.357040e+11
268,Zambia,ZMB,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.647784e+10,1.805201e+10,1.811909e+10,1.390407e+10,1.414342e+10,1.570581e+10,1.517567e+10,1.396964e+10,9.633632e+09,NaN
269,Zimbabwe,ZWE,Final consumption expenditure (current US$),NE.CON.TOTL.CD,9.284669e+08,9.413203e+08,9.633679e+08,1.019981e+09,1.093372e+09,1.132393e+09,...,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,1.699446e+10,NaN

In [4]:
# Setting first column as Index
new_header = consumption_df.iloc[0]
consumption_df = consumption_df[1:]
consumption_df.columns = new_header
consumption_df

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,2.339665e+09,NaN
5,Africa Eastern and Southern,AFE,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11,7.407820e+11,8.571350e+11
6,Afghanistan,AFG,Final consumption expenditure (current US$),NE.CON.TOTL.CD,4.666667e+08,4.777777e+08,4.666667e+08,7.022222e+08,7.622222e+08,9.955556e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11,5.944310e+11,6.039400e+11
8,Angola,AGO,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,3.485575e+10,4.184244e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.189571e+09,6.674971e+09,7.228622e+09,6.213041e+09,6.271305e+09,6.538834e+09,7.241423e+09,7.312918e+09,7.625216e+09,8.728180e+09
266,"Yemen, Rep.",YEM,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,Final consumption expenditure (current US$),NE.CON.TOTL.CD,5.986398e+09,6.220198e+09,6.633197e+09,7.186197e+09,8.073797e+09,8.717797e+09,...,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,2.780940e+11,3.357040e+11
268,Zambia,ZMB,Final consumption expenditure (current US$),NE.CON.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.647784e+10,1.805201e+10,1.811909e+10,1.390407e+10,1.414342e+10,1.570581e+10,1.517567e+10,1.396964e+10,9.633632e+09,NaN
269,Zimbabwe,ZWE,Final consumption expenditure (current US$),NE.CON.TOTL.CD,9.284669e+08,9.413203e+08,9.633679e+08,1.019981e+09,1.093372e+09,1.132393e+09,...,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,1.699446e+10,NaN

In [5]:
# Name of the columns
consumption_df.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           1990.0,           1991.0,
                 1992.0,           1993.0,           1994.0,           1995.0,
                 1996.0,           1997.0,           1998.0,           1999.0,
                 2000.0,           2001.0,           2002.0,           2003.0,
                 2004.0,           2005.0,           2006.0,           2007.0,
                 2008.0,           2009.0,           2010.0,           2011.0,
                 2012.0,           2013.0,           2014.0,           2015.0,
                 2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0,           2021.0],
      dtype='object', name=3)

In [6]:
# Type of columns
consumption_df.dtypes

3
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960.0            float64
                   ...
2017.0            float64
2018.0            float64
2019.0            float64
2020.0            float64
2021.0            float64
Length: 66, dtype: object

In [7]:
# Dropping the 2021 column
consumption_df = consumption_df.drop(columns = consumption_df.columns[2:45], inplace = False, axis = 1)
consumption_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,2.339665e+09,NaN
5,Africa Eastern and Southern,AFE,2.142760e+11,2.142400e+11,2.863900e+11,3.563330e+11,4.073960e+11,4.449550e+11,5.056110e+11,5.301800e+11,...,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11,7.407820e+11,8.571350e+11
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,1.072740e+11,1.312710e+11,1.511570e+11,1.825450e+11,2.183050e+11,2.544270e+11,3.576340e+11,4.124050e+11,...,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11,5.944310e+11,6.039400e+11
8,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,3.485575e+10,4.184244e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.444270e+09,...,6.189571e+09,6.674971e+09,7.228622e+09,6.213041e+09,6.271305e+09,6.538834e+09,7.241423e+09,7.312918e+09,7.625216e+09,8.728180e+09
266,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,2.780940e+11,3.357040e+11
268,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.647784e+10,1.805201e+10,1.811909e+10,1.390407e+10,1.414342e+10,1.570581e+10,1.517567e+10,1.396964e+10,9.633632e+09,NaN
269,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,1.699446e+10,NaN

In [8]:
consumption_df.count()

3
Country Name    266
Country Code    266
2001.0          212
2002.0          214
2003.0          215
2004.0          215
2005.0          215
2006.0          217
2007.0          219
2008.0          222
2009.0          223
2010.0          225
2011.0          227
2012.0          226
2013.0          227
2014.0          228
2015.0          228
2016.0          227
2017.0          226
2018.0          224
2019.0          222
2020.0          217
2021.0          154
dtype: int64

In [9]:
# Dropping the 2021 column
consumption_df = consumption_df.drop(columns = consumption_df.columns[21:], inplace = False, axis = 1)
consumption_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.127933e+09,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09
5,Africa Eastern and Southern,AFE,2.142760e+11,2.142400e+11,2.863900e+11,3.563330e+11,4.073960e+11,4.449550e+11,5.056110e+11,5.301800e+11,...,6.718290e+11,7.528310e+11,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,1.072740e+11,1.312710e+11,1.511570e+11,1.825450e+11,2.183050e+11,2.544270e+11,3.576340e+11,4.124050e+11,...,4.544160e+11,5.060670e+11,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11
8,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,4.317013e+10,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.444270e+09,...,5.649194e+09,6.353806e+09,6.189571e+09,6.674971e+09,7.228622e+09,6.213041e+09,6.271305e+09,6.538834e+09,7.241423e+09,7.312918e+09
266,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.354090e+11,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11
268,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.296417e+10,1.548544e+10,1.647784e+10,1.805201e+10,1.811909e+10,1.390407e+10,1.414342e+10,1.570581e+10,1.517567e+10,1.396964e+10
269,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.265326e+10,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10

In [10]:
# Setting the Index
consumption_df = consumption_df.set_axis(['Country_Name', 'Country_Code', 'con_2001', 'con_2002', 'con_2003', 
                                          'con_2004', 'con_2005', 'con_2006', 'con_2007', 'con_2008', 'con_2009',
                                          'con_2010', 'con_2011', 'con_2012', 'con_2013', 'con_2014', 'con_2015',
                                          'con_2016', 'con_2017', 'con_2018', 'con_2019'], axis = 1)
consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2010,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019
4,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.127933e+09,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09
5,Africa Eastern and Southern,AFE,2.142760e+11,2.142400e+11,2.863900e+11,3.563330e+11,4.073960e+11,4.449550e+11,5.056110e+11,5.301800e+11,...,6.718290e+11,7.528310e+11,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,1.072740e+11,1.312710e+11,1.511570e+11,1.825450e+11,2.183050e+11,2.544270e+11,3.576340e+11,4.124050e+11,...,4.544160e+11,5.060670e+11,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11
8,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,4.317013e+10,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.444270e+09,...,5.649194e+09,6.353806e+09,6.189571e+09,6.674971e+09,7.228622e+09,6.213041e+09,6.271305e+09,6.538834e+09,7.241423e+09,7.312918e+09
266,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.354090e+11,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11
268,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.296417e+10,1.548544e+10,1.647784e+10,1.805201e+10,1.811909e+10,1.390407e+10,1.414342e+10,1.570581e+10,1.517567e+10,1.396964e+10
269,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.265326e+10,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10

In [11]:
consumption_df = consumption_df.dropna()
consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2010,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019
4,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.127933e+09,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09
5,Africa Eastern and Southern,AFE,2.142760e+11,2.142400e+11,2.863900e+11,3.563330e+11,4.073960e+11,4.449550e+11,5.056110e+11,5.301800e+11,...,6.718290e+11,7.528310e+11,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11
7,Africa Western and Central,AFW,1.072740e+11,1.312710e+11,1.511570e+11,1.825450e+11,2.183050e+11,2.544270e+11,3.576340e+11,4.124050e+11,...,4.544160e+11,5.060670e+11,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11
8,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,4.317013e+10,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10
9,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.064677e+10,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,3.683949e+10,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10
262,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,5.521445e+08,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08
263,World,WLD,2.578910e+13,2.691830e+13,3.013220e+13,3.356190e+13,3.610120e+13,3.867470e+13,4.325700e+13,4.752830e+13,...,4.965910e+13,5.449720e+13,5.552230e+13,5.704760e+13,5.849800e+13,5.518830e+13,5.631320e+13,5.946760e+13,6.273800e+13,6.383450e+13
267,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.354090e+11,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11
269,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.265326e+10,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10

In [12]:
# Resetting the index to Zero
consumption_df = consumption_df.reset_index(drop=True)
consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2010,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.127933e+09,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09
1,Africa Eastern and Southern,AFE,2.142760e+11,2.142400e+11,2.863900e+11,3.563330e+11,4.073960e+11,4.449550e+11,5.056110e+11,5.301800e+11,...,6.718290e+11,7.528310e+11,7.787370e+11,7.923960e+11,7.921170e+11,7.449750e+11,7.076380e+11,8.008800e+11,7.975990e+11,7.981280e+11
2,Africa Western and Central,AFW,1.072740e+11,1.312710e+11,1.511570e+11,1.825450e+11,2.183050e+11,2.544270e+11,3.576340e+11,4.124050e+11,...,4.544160e+11,5.060670e+11,5.104250e+11,6.478040e+11,6.699880e+11,6.304260e+11,5.817890e+11,5.653120e+11,5.985560e+11,6.358720e+11
3,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,4.317013e+10,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10
4,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.064677e+10,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,3.683949e+10,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10
200,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,5.521445e+08,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08
201,World,WLD,2.578910e+13,2.691830e+13,3.013220e+13,3.356190e+13,3.610120e+13,3.867470e+13,4.325700e+13,4.752830e+13,...,4.965910e+13,5.449720e+13,5.552230e+13,5.704760e+13,5.849800e+13,5.518830e+13,5.631320e+13,5.946760e+13,6.273800e+13,6.383450e+13
202,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.354090e+11,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11
203,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.265326e+10,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10

# Importing and merging Country-codes.csv

In [13]:
# Import Data file
country = pd.read_csv("../Resources/country-codes.csv")
country_df = pd.DataFrame(country)
country_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [14]:
country_df = country_df.set_axis(['Country Name', 'Country Alpha-2 Code', 'Country_Code', 'Numeric code',
                                 'ISO 3166-2'], axis = 1)
country_df

,Country Name,Country Alpha-2 Code,Country_Code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [15]:
new_df = pd.merge(consumption_df, country_df, on= 'Country_Code', suffixes = ['', '_country' ])
new_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Country Name,Country Alpha-2 Code,Numeric code,ISO 3166-2
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,Aruba,AW,533,ISO 3166-2:AW
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Angola,AO,24,ISO 3166-2:AO
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,Albania,AL,8,ISO 3166-2:AL
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,United Arab Emirates,AE,784,ISO 3166-2:AE
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,Argentina,AR,32,ISO 3166-2:AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,United States,US,840,ISO 3166-2:US
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Uzbekistan,UZ,860,ISO 3166-2:UZ
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Vanuatu,VU,548,ISO 3166-2:VU
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,South Africa,ZA,710,ISO 3166-2:ZA
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Zimbabwe,ZW,716,ISO 3166-2:ZW

# Importing and Merging region_income.csv

In [16]:
# Import Data file
income_group = pd.read_csv("../Resources/countries_region_income.csv")
income_group_df = pd.DataFrame(income_group)
income_group_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [17]:
income_group_df = income_group_df.rename(columns = {'Country Code': 'Country_Code'})
income_group_df

,Country_Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [18]:
new_consumption_df = pd.merge(new_df, income_group_df, on= 'Country_Code', suffixes = ['_new', '_income'])
new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2018,con_2019,Country Name,Country Alpha-2 Code,Numeric code,ISO 3166-2,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.537430e+09,2.602235e+09,Aruba,AW,533,ISO 3166-2:AW,Latin America & Caribbean,High income,NaN,Aruba
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.199370e+10,4.057062e+10,Angola,AO,24,ISO 3166-2:AO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.370054e+10,1.406914e+10,Albania,AL,8,ISO 3166-2:AL,Europe & Central Asia,Upper middle income,NaN,Albania
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,2.116190e+11,2.150440e+11,United Arab Emirates,AE,784,ISO 3166-2:AE,Middle East & North Africa,High income,NaN,United Arab Emirates
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.475420e+11,3.710230e+11,Argentina,AR,32,ISO 3166-2:AR,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.678290e+13,1.740260e+13,United States,US,840,ISO 3166-2:US,North America,High income,NaN,United States
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,3.960721e+10,4.522551e+10,Uzbekistan,UZ,860,ISO 3166-2:UZ,Europe & Central Asia,Lower middle income,NaN,Uzbekistan
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.940408e+08,7.126577e+08,Vanuatu,VU,548,ISO 3166-2:VU,East Asia & Pacific,Lower middle income,NaN,Vanuatu
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.359760e+11,3.236180e+11,South Africa,ZA,710,ISO 3166-2:ZA,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.877853e+10,1.800596e+10,Zimbabwe,ZW,716,ISO 3166-2:ZW,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [19]:

new_consumption_df = new_consumption_df.drop(['Country Name', 'Country Alpha-2 Code', 'Numeric code', 'ISO 3166-2', 'Region',
                                    'SpecialNotes', 'TableName'], axis = 1)
new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,IncomeGroup
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,High income
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Lower middle income
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,Upper middle income
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.695520e+11,1.568470e+11,1.752460e+11,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,High income
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.236500e+11,4.452420e+11,4.570430e+11,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Lower middle income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Lower middle income
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,Upper middle income
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Lower middle income

In [20]:
new_consumption_df = new_consumption_df.rename(columns = {'IncomeGroup': 'Income_Group'})
new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,High income
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Lower middle income
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,Upper middle income
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.695520e+11,1.568470e+11,1.752460e+11,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,High income
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.236500e+11,4.452420e+11,4.570430e+11,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Lower middle income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Lower middle income
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,Upper middle income
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Lower middle income

# Cleaned Consumption DataFrame

In [21]:
new_consumption_df = new_consumption_df.round(2)
new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,High income
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Lower middle income
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,Upper middle income
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.695520e+11,1.568470e+11,1.752460e+11,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,High income
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.236500e+11,4.452420e+11,4.570430e+11,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Lower middle income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Lower middle income
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,Upper middle income
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Lower middle income

In [31]:
yearwise_consumption = new_consumption_df.mean(axis =0, numeric_only=None)
yearwise_consumption

/var/folders/sq/1nf_j6657kl5q_v44pcd6nk80000gp/T/ipykernel_43466/795946775.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  yearwise_consumption = new_consumption_df.mean(axis =0, numeric_only=None)

con_2001    1.610555e+11
con_2002    1.683260e+11
con_2003    1.886276e+11
con_2004    2.100959e+11
con_2005    2.259235e+11
con_2006    2.420169e+11
con_2007    2.706765e+11
con_2008    2.972070e+11
con_2009    2.893017e+11
con_2010    3.102068e+11
con_2011    3.408647e+11
con_2012    3.467918e+11
con_2013    3.561633e+11
con_2014    3.643662e+11
con_2015    3.450173e+11
con_2016    3.520481e+11
con_2017    3.716911e+11
con_2018    3.921683e+11
con_2019    3.990229e+11
dtype: float64

# Yearwise Consumption DataFrame

In [34]:
annual_consumption_df = pd.DataFrame({"consumption": yearwise_consumption})
annual_consumption_df.round(2)

           consumption
con_2001  1.610555e+11
con_2002  1.683260e+11
con_2003  1.886276e+11
con_2004  2.100959e+11
con_2005  2.259235e+11
con_2006  2.420169e+11
con_2007  2.706765e+11
con_2008  2.972070e+11
con_2009  2.893017e+11
con_2010  3.102068e+11
con_2011  3.408647e+11
con_2012  3.467918e+11
con_2013  3.561633e+11
con_2014  3.643662e+11
con_2015  3.450173e+11
con_2016  3.520481e+11
con_2017  3.716911e+11
con_2018  3.921683e+11
con_2019  3.990229e+11

In [36]:
annual_consumption_df = annual_consumption_df.round(2)
annual_consumption_df

           consumption
con_2001  1.610555e+11
con_2002  1.683260e+11
con_2003  1.886276e+11
con_2004  2.100959e+11
con_2005  2.259235e+11
con_2006  2.420169e+11
con_2007  2.706765e+11
con_2008  2.972070e+11
con_2009  2.893017e+11
con_2010  3.102068e+11
con_2011  3.408647e+11
con_2012  3.467918e+11
con_2013  3.561633e+11
con_2014  3.643662e+11
con_2015  3.450173e+11
con_2016  3.520481e+11
con_2017  3.716911e+11
con_2018  3.921683e+11
con_2019  3.990229e+11

In [37]:
# Create the output file (CSV).
output_data_file = "../cleaned_data/annual_consumption.csv"
# Export the City_Data into a CSV.
annual_consumption_df.to_csv(output_data_file, index = True)

# Top 10 Countries Consumption Data

In [24]:
# Sort and Find top 10 countries
top_countries = new_consumption_df.sort_values(by = "con_2019", ascending = False)
top_countries.head(10)

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
31,China,CHN,8.295310e+11,8.967920e+11,9.633320e+11,1.080060e+12,1.243210e+12,1.446860e+12,1.810540e+12,2.286750e+12,...,3.787780e+12,4.363610e+12,4.949540e+12,5.502350e+12,5.972230e+12,6.182650e+12,6.754430e+12,7.650170e+12,7.999420e+12,Upper middle income
78,Japan,JPN,3.134530e+12,3.046680e+12,3.287240e+12,3.545240e+12,3.505030e+12,3.341920e+12,3.318930e+12,3.768160e+12,...,4.806100e+12,4.869640e+12,4.065240e+12,3.798000e+12,3.350970e+12,3.720670e+12,3.650080e+12,3.747400e+12,3.815460e+12,High income
42,Germany,DEU,1.467380e+12,1.558310e+12,1.895970e+12,2.109650e+12,2.144100e+12,2.216480e+12,2.461240e+12,2.714580e+12,...,2.754120e+12,2.616570e+12,2.770030e+12,2.839480e+12,2.439680e+12,2.521050e+12,2.655520e+12,2.860770e+12,2.807760e+12,High income
55,United Kingdom,GBR,1.381760e+12,1.507930e+12,1.737930e+12,2.059140e+12,2.153540e+12,2.282910e+12,2.597950e+12,2.487040e+12,...,2.278240e+12,2.319730e+12,2.378840e+12,2.599420e+12,2.479250e+12,2.282490e+12,2.241110e+12,2.416490e+12,2.390830e+12,High income
52,France,FRA,1.050640e+12,1.151500e+12,1.427450e+12,1.634190e+12,1.701800e+12,1.786710e+12,2.036670e+12,2.257170e+12,...,2.255650e+12,2.111230e+12,2.214280e+12,2.240090e+12,1.899010e+12,1.928810e+12,2.014570e+12,2.153320e+12,2.090120e+12,High income
69,India,IND,3.684900e+11,3.828240e+11,4.398530e+11,4.875840e+11,5.557660e+11,6.197480e+11,7.984540e+11,8.058410e+11,...,1.226760e+12,1.227160e+12,1.261470e+12,1.398200e+12,1.460640e+12,1.597270e+12,1.842570e+12,1.895070e+12,2.036470e+12,Lower middle income
22,Brazil,BRA,4.673120e+11,4.165440e+11,4.517350e+11,5.265580e+11,7.079060e+11,8.803040e+11,1.101180e+12,1.332440e+12,...,2.065280e+12,1.970750e+12,1.993280e+12,2.016730e+12,1.509200e+12,1.519710e+12,1.746890e+12,1.620020e+12,1.594690e+12,Upper middle income
75,Italy,ITA,9.098130e+11,9.916890e+11,1.236300e+12,1.411780e+12,1.466680e+12,1.537490e+12,1.728290e+12,1.902570e+12,...,1.857400e+12,1.692660e+12,1.728720e+12,1.732750e+12,1.467090e+12,1.485720e+12,1.551440e+12,1.654070e+12,1.577540e+12,High income
28,Canada,CAN,5.513060e+11,5.764980e+11,6.767760e+11,7.611450e+11,8.608500e+11,9.718730e+11,1.086610e+12,1.152020e+12,...,1.381730e+12,1.409270e+12,1.415700e+12,1.373510e+12,1.224770e+12,1.215250e+12,1.297640e+12,1.354510e+12,1.368890e+12,High income

# Bottom 10 Countries Consumption Data

In [25]:
# Sort and Find bottom 10 countries
bottom_countries = new_consumption_df.sort_values(by = "con_2019", ascending = True)
bottom_countries.head(10)

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
145,Tonga,TON,1.982705e+08,2.083794e+08,228628968.3,264087500.6,3.076477e+08,3.374321e+08,3.611812e+08,4.225402e+08,...,4.548217e+08,5.111601e+08,5.274844e+08,5.238724e+08,5.345242e+08,4.922746e+08,5.358809e+08,5.883831e+08,5.933633e+08,Upper middle income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,267585023.9,302451024.2,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Lower middle income
6,Antigua and Barbuda,ATG,6.779259e+08,6.809630e+08,729111111.1,761703703.7,8.843704e+08,1.008370e+09,1.172296e+09,1.182519e+09,...,1.009704e+09,1.104741e+09,1.087852e+09,1.115158e+09,1.107566e+09,1.141769e+09,1.105458e+09,1.099228e+09,1.082386e+09,High income
37,Comoros,COM,3.786722e+08,4.261454e+08,547117410.0,633974162.0,6.541233e+08,6.987304e+08,7.822906e+08,9.204843e+08,...,1.064692e+09,1.084587e+09,1.169695e+09,1.203387e+09,1.003652e+09,1.045514e+09,1.108990e+09,1.216259e+09,1.242657e+09,Lower middle income
60,Guinea-Bissau,GNB,3.986186e+08,4.174350e+08,474674840.4,547105534.6,6.110068e+08,6.205690e+08,7.055509e+08,8.694985e+08,...,1.048545e+09,1.024128e+09,1.049661e+09,1.052401e+09,1.012694e+09,1.143315e+09,1.300195e+09,1.327205e+09,1.360160e+09,Low income
131,Solomon Islands,SLB,5.000000e+08,3.627312e+08,302162299.0,350314641.9,4.673369e+08,5.723109e+08,6.596968e+08,7.261322e+08,...,9.533718e+08,1.038857e+09,1.223621e+09,1.277643e+09,1.194360e+09,1.226944e+09,1.300429e+09,1.450110e+09,1.532899e+09,Lower middle income
20,Belize,BLZ,8.161000e+08,8.895500e+08,941500000.0,975700000.0,9.952000e+08,1.008350e+09,1.080500e+09,1.128600e+09,...,1.297400e+09,1.333850e+09,1.400350e+09,1.461850e+09,1.516500e+09,1.645700e+09,1.641100e+09,1.687000e+09,1.670450e+09,Upper middle income
59,"Gambia, The",GMB,6.363438e+08,5.692203e+08,467978377.5,949081088.6,1.040335e+09,9.928133e+08,1.218289e+09,1.606992e+09,...,1.341615e+09,1.233029e+09,1.304327e+09,1.183486e+09,1.240191e+09,1.297965e+09,1.412964e+09,1.592542e+09,1.716574e+09,Low income
25,Bhutan,BTN,2.898772e+08,3.502173e+08,412781771.1,478522372.0,6.071898e+08,5.227089e+08,8.730310e+08,8.031412e+08,...,1.078692e+09,9.869607e+08,1.322755e+09,1.302773e+09,1.473614e+09,1.450155e+09,1.692980e+09,1.834254e+09,1.936533e+09,Lower middle income
144,Timor-Leste,TLS,1.043456e+09,1.112072e+09,913574000.0,772624300.0,6.684743e+08,7.636413e+08,1.031872e+09,1.201264e+09,...,1.643241e+09,1.789874e+09,1.768054e+09,1.888234e+09,1.865441e+09,1.882906e+09,1.884030e+09,1.922389e+09,2.055058e+09,Lower middle income

In [26]:
new_consumption_df = new_consumption_df.round(2)
new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,High income
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Lower middle income
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,Upper middle income
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.695520e+11,1.568470e+11,1.752460e+11,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,High income
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.236500e+11,4.452420e+11,4.570430e+11,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Lower middle income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Lower middle income
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,Upper middle income
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Lower middle income

In [27]:
new_consumption_df["Income_Group"] = new_consumption_df["Income_Group"].apply(lambda x: x.replace("Upper middle income", "High income"))

new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,High income
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Lower middle income
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,High income
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.695520e+11,1.568470e+11,1.752460e+11,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,High income
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.236500e+11,4.452420e+11,4.570430e+11,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Lower middle income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Lower middle income
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,High income
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Lower middle income

In [28]:
new_consumption_df["Income_Group"] = new_consumption_df["Income_Group"].apply(lambda x: x.replace("Lower middle income", "Low income"))

new_consumption_df

,Country_Name,Country_Code,con_2001,con_2002,con_2003,con_2004,con_2005,con_2006,con_2007,con_2008,...,con_2011,con_2012,con_2013,con_2014,con_2015,con_2016,con_2017,con_2018,con_2019,Income_Group
0,Aruba,ABW,1.410615e+09,1.520112e+09,1.603352e+09,1.683240e+09,1.787709e+09,1.910056e+09,2.091061e+09,2.159218e+09,...,2.308939e+09,2.272626e+09,2.317877e+09,2.322346e+09,2.328492e+09,2.327933e+09,2.416760e+09,2.537430e+09,2.602235e+09,High income
1,Angola,AGO,6.171665e+09,9.268944e+09,1.154396e+10,1.317161e+10,1.773933e+10,2.325123e+10,3.036060e+10,4.038299e+10,...,5.714585e+10,6.656434e+10,7.894011e+10,8.569871e+10,6.033554e+10,3.484173e+10,4.836254e+10,5.199370e+10,4.057062e+10,Low income
2,Albania,ALB,3.484218e+09,3.972822e+09,5.130527e+09,6.352358e+09,7.083950e+09,7.841921e+09,9.849229e+09,1.204055e+10,...,1.150805e+10,1.094145e+10,1.163337e+10,1.220154e+10,1.045374e+10,1.093963e+10,1.186178e+10,1.370054e+10,1.406914e+10,High income
3,United Arab Emirates,ARE,7.133000e+10,7.853965e+10,8.495854e+10,1.027500e+11,1.159840e+11,1.398100e+11,1.723670e+11,2.072030e+11,...,1.695520e+11,1.568470e+11,1.752460e+11,1.902900e+11,1.713360e+11,1.739590e+11,1.948030e+11,2.116190e+11,2.150440e+11,High income
4,Argentina,ARG,2.232020e+11,7.244639e+10,9.522564e+10,1.242280e+11,1.493930e+11,1.760450e+11,2.171450e+11,2.773440e+11,...,4.236500e+11,4.452420e+11,4.570430e+11,4.333350e+11,4.996140e+11,4.648500e+11,5.434570e+11,4.475420e+11,3.710230e+11,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,United States,USA,8.611950e+12,8.994760e+12,9.487130e+12,1.008390e+13,1.073110e+13,1.135020e+13,1.194510e+13,1.240350e+13,...,1.321020e+13,1.356280e+13,1.389620e+13,1.441400e+13,1.487250e+13,1.535640e+13,1.596980e+13,1.678290e+13,1.740260e+13,High income
153,Uzbekistan,UZB,8.702257e+09,7.354353e+09,7.416809e+09,8.242479e+09,9.429679e+09,1.123624e+10,1.491887e+10,1.931783e+10,...,4.405382e+10,5.048753e+10,5.666519e+10,6.189778e+10,6.768119e+10,6.928300e+10,4.765503e+10,3.960721e+10,4.522551e+10,Low income
154,Vanuatu,VUT,2.502538e+08,2.290833e+08,2.675850e+08,3.024510e+08,3.175317e+08,3.387629e+08,3.986724e+08,4.360917e+08,...,6.184698e+08,6.108757e+08,6.217310e+08,6.374360e+08,6.207863e+08,6.401475e+08,6.984738e+08,6.940408e+08,7.126577e+08,Low income
155,South Africa,ZAF,1.109640e+11,1.025760e+11,1.551920e+11,2.063710e+11,2.303500e+11,2.413440e+11,2.643100e+11,2.532530e+11,...,3.717290e+11,3.610830e+11,3.325260e+11,3.164350e+11,2.866120e+11,2.672450e+11,3.137230e+11,3.359760e+11,3.236180e+11,High income
156,Zimbabwe,ZWE,5.944686e+09,6.224010e+09,5.593444e+09,5.956015e+09,6.182323e+09,5.952201e+09,5.370927e+09,5.363314e+09,...,1.444984e+10,1.950734e+10,2.013558e+10,2.011394e+10,2.163859e+10,2.085086e+10,1.776281e+10,1.877853e+10,1.800596e+10,Low income

# Exporting the Cleaned DataFrame as CSV File

In [29]:
# Create the output file (CSV).
output_data_file = "../cleaned_data/new_consumption.csv"
# Export the City_Data into a CSV.
new_consumption_df.to_csv(output_data_file, index = False)