# Importing and Cleaning exports_of_goods&services.csv file

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import Data file
exports = pd.read_csv("../Resources/exports_of_goods&services.csv")
exports_df = pd.DataFrame(exports)
exports_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,2.021000e+03
4,Aruba,ABW,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,1.411732e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.511481e+09,1.549478e+09,1.664447e+09,1.413499e+09,1.592346e+09,1.962433e+09,2.288980e+09,2.315661e+09,1.674198e+09,3.191153e+09
266,"Yemen, Rep.",YEM,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.802089e+09,9.036684e+09,9.287267e+09,3.841896e+09,1.046815e+09,1.006492e+09,1.308592e+09,1.561768e+09,1.179873e+09,NaN
267,South Africa,ZAF,Exports of goods and services (current US$),NE.EXP.GNFS.CD,2.238599e+09,2.337999e+09,2.498999e+09,2.696399e+09,2.846199e+09,2.913399e+09,...,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,9.317915e+10,1.306360e+11
268,Zambia,ZMB,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,8.473994e+09,1.157625e+10
269,Zimbabwe,ZWE,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,6.715439e+09,NaN

In [3]:
# Droping the top 3 rows
exports_df = exports_df.drop(range(0,3))
exports_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
3,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,2.021000e+03
4,Aruba,ABW,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,1.411732e+09,NaN
5,Africa Eastern and Southern,AFE,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11,2.056950e+11,2.743090e+11
6,Afghanistan,AFG,Exports of goods and services (current US$),NE.EXP.GNFS.CD,2.222223e+07,2.444446e+07,2.666668e+07,6.888892e+07,7.111114e+07,1.133333e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,Exports of goods and services (current US$),NE.EXP.GNFS.CD,1.744130e+09,1.916222e+09,1.952275e+09,2.085958e+09,2.426832e+09,2.666884e+09,...,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.511481e+09,1.549478e+09,1.664447e+09,1.413499e+09,1.592346e+09,1.962433e+09,2.288980e+09,2.315661e+09,1.674198e+09,3.191153e+09
266,"Yemen, Rep.",YEM,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.802089e+09,9.036684e+09,9.287267e+09,3.841896e+09,1.046815e+09,1.006492e+09,1.308592e+09,1.561768e+09,1.179873e+09,NaN
267,South Africa,ZAF,Exports of goods and services (current US$),NE.EXP.GNFS.CD,2.238599e+09,2.337999e+09,2.498999e+09,2.696399e+09,2.846199e+09,2.913399e+09,...,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,9.317915e+10,1.306360e+11
268,Zambia,ZMB,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,8.473994e+09,1.157625e+10
269,Zimbabwe,ZWE,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,6.715439e+09,NaN

In [4]:
# Setting first column as Index
new_header = exports_df.iloc[0]
exports_df = exports_df[1:]
exports_df.columns = new_header
exports_df

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,1.411732e+09,NaN
5,Africa Eastern and Southern,AFE,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11,2.056950e+11,2.743090e+11
6,Afghanistan,AFG,Exports of goods and services (current US$),NE.EXP.GNFS.CD,2.222223e+07,2.444446e+07,2.666668e+07,6.888892e+07,7.111114e+07,1.133333e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,Exports of goods and services (current US$),NE.EXP.GNFS.CD,1.744130e+09,1.916222e+09,1.952275e+09,2.085958e+09,2.426832e+09,2.666884e+09,...,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11,NaN,NaN
8,Angola,AGO,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,2.032767e+10,2.747525e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.511481e+09,1.549478e+09,1.664447e+09,1.413499e+09,1.592346e+09,1.962433e+09,2.288980e+09,2.315661e+09,1.674198e+09,3.191153e+09
266,"Yemen, Rep.",YEM,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.802089e+09,9.036684e+09,9.287267e+09,3.841896e+09,1.046815e+09,1.006492e+09,1.308592e+09,1.561768e+09,1.179873e+09,NaN
267,South Africa,ZAF,Exports of goods and services (current US$),NE.EXP.GNFS.CD,2.238599e+09,2.337999e+09,2.498999e+09,2.696399e+09,2.846199e+09,2.913399e+09,...,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,9.317915e+10,1.306360e+11
268,Zambia,ZMB,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,8.473994e+09,1.157625e+10
269,Zimbabwe,ZWE,Exports of goods and services (current US$),NE.EXP.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,6.715439e+09,NaN

In [5]:
# Dropping the columns from year 1960 to 2000
exports_df = exports_df.drop(exports_df.columns[2:45], inplace = False, axis = 1)
exports_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,1.411732e+09,NaN
5,Africa Eastern and Southern,AFE,7.026921e+10,7.515980e+10,9.209410e+10,1.149240e+11,1.435010e+11,1.724290e+11,2.133550e+11,2.537670e+11,...,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11,2.056950e+11,2.743090e+11
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,4.559348e+10,4.959338e+10,6.013015e+10,6.693102e+10,8.410749e+10,1.245370e+11,1.227180e+11,1.695960e+11,...,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11,NaN,NaN
8,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,2.032767e+10,2.747525e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.907837e+08,...,1.511481e+09,1.549478e+09,1.664447e+09,1.413499e+09,1.592346e+09,1.962433e+09,2.288980e+09,2.315661e+09,1.674198e+09,3.191153e+09
266,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.802089e+09,9.036684e+09,9.287267e+09,3.841896e+09,1.046815e+09,1.006492e+09,1.308592e+09,1.561768e+09,1.179873e+09,NaN
267,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,9.317915e+10,1.306360e+11
268,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,8.473994e+09,1.157625e+10
269,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,6.715439e+09,NaN

In [6]:
# Dropping the 2021 column
exports_df = exports_df.drop(columns = exports_df.columns[21:], inplace = False, axis = 1)
exports_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.477654e+09,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09
5,Africa Eastern and Southern,AFE,7.026921e+10,7.515980e+10,9.209410e+10,1.149240e+11,1.435010e+11,1.724290e+11,2.133550e+11,2.537670e+11,...,2.548550e+11,3.018200e+11,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,4.559348e+10,4.959338e+10,6.013015e+10,6.693102e+10,8.410749e+10,1.245370e+11,1.227180e+11,1.695960e+11,...,1.744870e+11,2.298110e+11,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11
8,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,5.028045e+10,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.907837e+08,...,1.158003e+09,1.582393e+09,1.511481e+09,1.549478e+09,1.664447e+09,1.413499e+09,1.592346e+09,1.962433e+09,2.288980e+09,2.315661e+09
266,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.270503e+09,9.929334e+09,8.802089e+09,9.036684e+09,9.287267e+09,3.841896e+09,1.046815e+09,1.006492e+09,1.308592e+09,1.561768e+09
267,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.076110e+11,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11
268,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,7.503513e+09,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09
269,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,3.569254e+09,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09

In [7]:
# Setting the Index
exports_df = exports_df.set_axis(['Country_Name', 'Country_Code', 'ex_2001', 'ex_2002', 'ex_2003', 'ex_2004', 
                                  'ex_2005', 'ex_2006', 'ex_2007', 'ex_2008', 'ex_2009', 'ex_2010', 'ex_2011', 
                                  'ex_2012', 'ex_2013', 'ex_2014', 'ex_2015', 'ex_2016', 'ex_2017', 'ex_2018',
                                  'ex_2019'], axis = 1)
exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2010,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019
4,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.477654e+09,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09
5,Africa Eastern and Southern,AFE,7.026921e+10,7.515980e+10,9.209410e+10,1.149240e+11,1.435010e+11,1.724290e+11,2.133550e+11,2.537670e+11,...,2.548550e+11,3.018200e+11,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Africa Western and Central,AFW,4.559348e+10,4.959338e+10,6.013015e+10,6.693102e+10,8.410749e+10,1.245370e+11,1.227180e+11,1.695960e+11,...,1.744870e+11,2.298110e+11,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11
8,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,5.028045e+10,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.907837e+08,...,1.158003e+09,1.582393e+09,1.511481e+09,1.549478e+09,1.664447e+09,1.413499e+09,1.592346e+09,1.962433e+09,2.288980e+09,2.315661e+09
266,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.270503e+09,9.929334e+09,8.802089e+09,9.036684e+09,9.287267e+09,3.841896e+09,1.046815e+09,1.006492e+09,1.308592e+09,1.561768e+09
267,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.076110e+11,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11
268,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,7.503513e+09,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09
269,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,3.569254e+09,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09

In [8]:
exports_df.count()

Country_Name    266
Country_Code    266
ex_2001         217
ex_2002         222
ex_2003         223
ex_2004         223
ex_2005         223
ex_2006         224
ex_2007         225
ex_2008         227
ex_2009         227
ex_2010         231
ex_2011         233
ex_2012         232
ex_2013         234
ex_2014         235
ex_2015         234
ex_2016         233
ex_2017         234
ex_2018         232
ex_2019         228
dtype: int64

In [9]:
exports_df = exports_df.dropna()
exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2010,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019
4,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.477654e+09,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09
5,Africa Eastern and Southern,AFE,7.026921e+10,7.515980e+10,9.209410e+10,1.149240e+11,1.435010e+11,1.724290e+11,2.133550e+11,2.537670e+11,...,2.548550e+11,3.018200e+11,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11
7,Africa Western and Central,AFW,4.559348e+10,4.959338e+10,6.013015e+10,6.693102e+10,8.410749e+10,1.245370e+11,1.227180e+11,1.695960e+11,...,1.744870e+11,2.298110e+11,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11
8,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,5.028045e+10,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10
9,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.337086e+09,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.267606e+08,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08
263,World,WLD,7.781990e+12,8.172330e+12,9.462660e+12,1.149370e+13,1.306570e+13,1.505860e+13,1.750910e+13,2.000060e+13,...,1.924360e+13,2.268180e+13,2.300990e+13,2.359140e+13,2.395820e+13,2.130490e+13,2.089620e+13,2.300090e+13,2.518590e+13,2.473390e+13
267,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.076110e+11,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11
268,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,7.503513e+09,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09
269,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,3.569254e+09,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09

In [10]:
# Resetting the index to Zero
exports_df = exports_df.reset_index(drop=True)
exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2010,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.477654e+09,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09
1,Africa Eastern and Southern,AFE,7.026921e+10,7.515980e+10,9.209410e+10,1.149240e+11,1.435010e+11,1.724290e+11,2.133550e+11,2.537670e+11,...,2.548550e+11,3.018200e+11,2.888910e+11,2.846750e+11,2.761870e+11,2.115560e+11,1.929470e+11,2.175650e+11,2.487970e+11,2.356620e+11
2,Africa Western and Central,AFW,4.559348e+10,4.959338e+10,6.013015e+10,6.693102e+10,8.410749e+10,1.245370e+11,1.227180e+11,1.695960e+11,...,1.744870e+11,2.298110e+11,2.476240e+11,1.942560e+11,2.027660e+11,1.328190e+11,1.165600e+11,1.423350e+11,1.669690e+11,1.716240e+11
3,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,5.028045e+10,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10
4,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.337086e+09,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.267606e+08,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08
203,World,WLD,7.781990e+12,8.172330e+12,9.462660e+12,1.149370e+13,1.306570e+13,1.505860e+13,1.750910e+13,2.000060e+13,...,1.924360e+13,2.268180e+13,2.300990e+13,2.359140e+13,2.395820e+13,2.130490e+13,2.089620e+13,2.300090e+13,2.518590e+13,2.473390e+13
204,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.076110e+11,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11
205,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,7.503513e+09,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09
206,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,3.569254e+09,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09

# Importing and merging Country-codes.csv

In [11]:
# Import Data file
country = pd.read_csv("../Resources/country-codes.csv")
country_df = pd.DataFrame(country)
country_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [12]:
country_df = country_df.set_axis(['Country_Name', 'Country Alpha-2 Code', 'Country_Code', 'Numeric code',
                                 'ISO 3166-2'], axis = 1)
country_df

,Country_Name,Country Alpha-2 Code,Country_Code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [13]:
new_exports_df = pd.merge(exports_df, country_df, on= 'Country_Code', suffixes = ['', '_country' ])
new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Country_Name_country,Country Alpha-2 Code,Numeric code,ISO 3166-2
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,Aruba,AW,533,ISO 3166-2:AW
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Angola,AO,24,ISO 3166-2:AO
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,Albania,AL,8,ISO 3166-2:AL
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,United Arab Emirates,AE,784,ISO 3166-2:AE
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,Argentina,AR,32,ISO 3166-2:AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Uzbekistan,UZ,860,ISO 3166-2:UZ
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Vanuatu,VU,548,ISO 3166-2:VU
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,South Africa,ZA,710,ISO 3166-2:ZA
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Zambia,ZM,894,ISO 3166-2:ZM
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Zimbabwe,ZW,716,ISO 3166-2:ZW

# Importing and Merging region_income.csv

In [14]:
# Import Data file
income_group = pd.read_csv("../Resources/countries_region_income.csv")
income_group_df = pd.DataFrame(income_group)
income_group_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [15]:
income_group_df = income_group_df.rename(columns = {'Country Code': 'Country_Code'})

In [16]:
new_exports_df = pd.merge(new_exports_df, income_group_df, on= 'Country_Code', suffixes = ['_new', '_income'])
new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2018,ex_2019,Country_Name_country,Country Alpha-2 Code,Numeric code,ISO 3166-2,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,2.363128e+09,2.468715e+09,Aruba,AW,533,ISO 3166-2:AW,Latin America & Caribbean,High income,NaN,Aruba
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,3.176775e+10,2.827171e+10,Angola,AO,24,ISO 3166-2:AO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,4.785178e+09,4.821431e+09,Albania,AL,8,ISO 3166-2:AL,Europe & Central Asia,Upper middle income,NaN,Albania
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.928630e+11,4.040460e+11,United Arab Emirates,AE,784,ISO 3166-2:AE,Middle East & North Africa,High income,NaN,United Arab Emirates
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,7.576658e+10,8.013050e+10,Argentina,AR,32,ISO 3166-2:AR,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.419089e+10,1.702659e+10,Uzbekistan,UZ,860,ISO 3166-2:UZ,Europe & Central Asia,Lower middle income,NaN,Uzbekistan
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,5.469523e+08,4.714967e+08,Vanuatu,VU,548,ISO 3166-2:VU,East Asia & Pacific,Lower middle income,NaN,Vanuatu
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.112850e+11,1.060700e+11,South Africa,ZA,710,ISO 3166-2:ZA,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.987197e+09,8.073235e+09,Zambia,ZM,894,ISO 3166-2:ZM,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,5.081366e+09,6.026541e+09,Zimbabwe,ZW,716,ISO 3166-2:ZW,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [17]:

new_exports_df = new_exports_df.drop(['Country_Name_country', 'Country Alpha-2 Code', 'Numeric code', 'ISO 3166-2', 'Region',
                                    'SpecialNotes', 'TableName'], axis = 1)
new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,IncomeGroup
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,High income
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Lower middle income
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,Upper middle income
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.158680e+11,3.755140e+11,3.922450e+11,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,High income
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,9.781093e+10,8.865585e+10,8.069047e+10,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.424398e+10,1.300881e+10,1.363339e+10,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Lower middle income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Lower middle income
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,Upper middle income
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Low income
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Lower middle income

In [18]:
new_exports_df = new_exports_df.rename(columns = {'IncomeGroup': 'Income_Group'})
new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,High income
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Lower middle income
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,Upper middle income
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.158680e+11,3.755140e+11,3.922450e+11,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,High income
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,9.781093e+10,8.865585e+10,8.069047e+10,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.424398e+10,1.300881e+10,1.363339e+10,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Lower middle income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Lower middle income
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,Upper middle income
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Low income
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Lower middle income

In [19]:
new_exports_df = new_exports_df.round(2)
new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,High income
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Lower middle income
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,Upper middle income
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.158680e+11,3.755140e+11,3.922450e+11,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,High income
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,9.781093e+10,8.865585e+10,8.069047e+10,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.424398e+10,1.300881e+10,1.363339e+10,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Lower middle income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Lower middle income
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,Upper middle income
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Low income
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Lower middle income

In [20]:
new_exports_df.dtypes

Country_Name     object
Country_Code     object
ex_2001         float64
ex_2002         float64
ex_2003         float64
ex_2004         float64
ex_2005         float64
ex_2006         float64
ex_2007         float64
ex_2008         float64
ex_2009         float64
ex_2010         float64
ex_2011         float64
ex_2012         float64
ex_2013         float64
ex_2014         float64
ex_2015         float64
ex_2016         float64
ex_2017         float64
ex_2018         float64
ex_2019         float64
Income_Group     object
dtype: object

In [21]:
yearwise_exports = new_exports_df.mean(axis = 0, numeric_only = None)
yearwise_exports

/var/folders/sq/1nf_j6657kl5q_v44pcd6nk80000gp/T/ipykernel_81287/1942333735.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  yearwise_exports = new_exports_df.mean(axis = 0, numeric_only = None)

ex_2001    4.644809e+10
ex_2002    4.876471e+10
ex_2003    5.653373e+10
ex_2004    6.869681e+10
ex_2005    7.810182e+10
ex_2006    9.006975e+10
ex_2007    1.048936e+11
ex_2008    1.198776e+11
ex_2009    9.672168e+10
ex_2010    1.150014e+11
ex_2011    1.359798e+11
ex_2012    1.380884e+11
ex_2013    1.416688e+11
ex_2014    1.438476e+11
ex_2015    1.279732e+11
ex_2016    1.255993e+11
ex_2017    1.383218e+11
ex_2018    1.517618e+11
ex_2019    1.490885e+11
dtype: float64

# Yearwise Consumption DataFrame

In [22]:
annual_exports_df = pd.DataFrame({"exports": yearwise_exports})
annual_exports_df.round(2)

              exports
ex_2001  4.644809e+10
ex_2002  4.876471e+10
ex_2003  5.653373e+10
ex_2004  6.869681e+10
ex_2005  7.810182e+10
ex_2006  9.006975e+10
ex_2007  1.048936e+11
ex_2008  1.198776e+11
ex_2009  9.672168e+10
ex_2010  1.150014e+11
ex_2011  1.359798e+11
ex_2012  1.380884e+11
ex_2013  1.416688e+11
ex_2014  1.438476e+11
ex_2015  1.279732e+11
ex_2016  1.255993e+11
ex_2017  1.383218e+11
ex_2018  1.517618e+11
ex_2019  1.490885e+11

In [23]:
annual_exports_df = annual_exports_df.round(2)
annual_exports_df

              exports
ex_2001  4.644809e+10
ex_2002  4.876471e+10
ex_2003  5.653373e+10
ex_2004  6.869681e+10
ex_2005  7.810182e+10
ex_2006  9.006975e+10
ex_2007  1.048936e+11
ex_2008  1.198776e+11
ex_2009  9.672168e+10
ex_2010  1.150014e+11
ex_2011  1.359798e+11
ex_2012  1.380884e+11
ex_2013  1.416688e+11
ex_2014  1.438476e+11
ex_2015  1.279732e+11
ex_2016  1.255993e+11
ex_2017  1.383218e+11
ex_2018  1.517618e+11
ex_2019  1.490885e+11

In [24]:
# Create the output file (CSV).
output_data_file = "../cleaned_datasets/mean_data/annual_exports.csv"
# Export the City_Data into a CSV.
annual_exports_df.to_csv(output_data_file, index = True)

# Top 10 Countries Exports Data

In [25]:
# Sort and Find top 10 countries
top_countries = new_exports_df.sort_values(by = "ex_2019", ascending = False)
top_countries.head(10)

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
31,China,CHN,2.720600e+11,3.330020e+11,4.479580e+11,6.073570e+11,7.733390e+11,9.917310e+11,1.258060e+12,1.497870e+12,...,2.006300e+12,2.175080e+12,2.354250e+12,2.462840e+12,2.362090e+12,2.199970e+12,2.424200e+12,2.655590e+12,2.628940e+12,Upper middle income
154,United States,USA,1.026810e+12,9.979790e+11,1.035170e+12,1.176360e+12,1.301580e+12,1.470170e+12,1.659300e+12,1.835280e+12,...,2.115860e+12,2.217700e+12,2.286980e+12,2.377410e+12,2.268650e+12,2.232110e+12,2.383760e+12,2.533510e+12,2.519730e+12,High income
43,Germany,DEU,6.196310e+11,6.774320e+11,8.208310e+11,1.005100e+12,1.083500e+12,1.240790e+12,1.484060e+12,1.640400e+12,...,1.689330e+12,1.633320e+12,1.695840e+12,1.774180e+12,1.575400e+12,1.598670e+12,1.740720e+12,1.881300e+12,1.812900e+12,High income
80,Japan,JPN,4.408310e+11,4.540670e+11,5.182040e+11,6.256470e+11,6.675100e+11,7.205000e+11,7.917990e+11,8.801640e+11,...,9.209140e+11,9.041470e+11,8.227220e+11,8.529910e+11,7.750520e+11,8.034890e+11,8.674050e+11,9.232350e+11,8.937820e+11,High income
57,United Kingdom,GBR,4.157430e+11,4.334290e+11,4.922550e+11,5.769640e+11,6.376650e+11,7.410540e+11,7.871350e+11,7.958380e+11,...,8.215610e+11,8.140310e+11,8.346490e+11,8.677970e+11,8.037380e+11,7.684100e+11,8.109380e+11,8.849270e+11,8.925320e+11,High income
53,France,FRA,3.894070e+11,4.133540e+11,4.816470e+11,5.610420e+11,5.939010e+11,6.482430e+11,7.410610e+11,8.239830e+11,...,8.143160e+11,7.837130e+11,8.257000e+11,8.472700e+11,7.462120e+11,7.480110e+11,8.031640e+11,8.851150e+11,8.621060e+11,High income
112,Netherlands,NLD,2.731880e+11,2.850210e+11,3.438900e+11,4.126350e+11,4.498080e+11,5.004190e+11,5.836000e+11,6.643450e+11,...,6.835070e+11,6.669720e+11,7.006900e+11,7.188900e+11,6.328140e+11,6.236040e+11,6.953790e+11,7.740440e+11,7.512540e+11,High income
132,Singapore,SGP,1.642300e+11,1.703490e+11,1.978160e+11,2.461200e+11,2.877710e+11,3.389330e+11,3.850070e+11,4.433590e+11,...,5.679980e+11,5.804940e+11,6.000130e+11,6.043680e+11,5.494320e+11,5.253460e+11,5.882230e+11,6.657490e+11,6.581070e+11,High income
85,"Korea, Rep.",KOR,1.740880e+11,1.867480e+11,2.206380e+11,2.915260e+11,3.298620e+11,3.752230e+11,4.384660e+11,4.989720e+11,...,6.684410e+11,6.915530e+11,7.031090e+11,7.099700e+11,6.301290e+11,6.020350e+11,6.647310e+11,7.194900e+11,6.486110e+11,High income
65,"Hong Kong SAR, China",HKG,2.079760e+11,2.197090e+11,2.433290e+11,2.837090e+11,3.222010e+11,3.584000e+11,3.944440e+11,4.241200e+11,...,5.289670e+11,5.668850e+11,6.109720e+11,6.210720e+11,6.060750e+11,6.000210e+11,6.446730e+11,6.812830e+11,6.449850e+11,High income

# Bottom 10 Countries Exports Data

In [26]:
# Sort and Find top 10 countries
bottom_countries = new_exports_df.sort_values(by = "ex_2019", ascending = True)
bottom_countries.head(10)

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
98,Marshall Islands,MHL,3.115190e+07,3.606530e+07,3.962050e+07,4.188810e+07,4.638040e+07,3.736070e+07,4.068520e+07,4.411690e+07,...,8.838060e+07,1.005023e+08,9.618360e+07,9.217810e+07,8.237480e+07,7.329730e+07,81510100.0,86195600.0,90690900.0,Upper middle income
147,Tonga,TON,2.363126e+07,3.336591e+07,3.921157e+07,4.513125e+07,4.671310e+07,4.255015e+07,3.647825e+07,5.495896e+07,...,6.730888e+07,8.035778e+07,9.172805e+07,7.464807e+07,7.411785e+07,9.115882e+07,102006152.5,104684109.8,112508341.0,Upper middle income
55,"Micronesia, Fed. Sts.",FSM,4.636600e+07,4.385400e+07,4.605520e+07,3.730400e+07,4.183710e+07,4.584420e+07,5.772820e+07,6.136720e+07,...,7.693590e+07,9.780740e+07,9.642500e+07,1.016190e+08,8.565800e+07,9.188530e+07,109856900.0,142584400.0,129700000.0,Lower middle income
10,Burundi,BDI,4.541097e+07,3.867637e+07,5.007205e+07,6.363554e+07,6.926101e+07,9.295638e+07,9.222156e+07,1.692428e+08,...,1.967522e+08,2.262430e+08,2.229799e+08,2.352955e+08,1.991924e+08,1.685080e+08,163460227.2,151245433.6,133504138.4,Low income
37,Comoros,COM,3.344631e+07,3.763899e+07,4.832349e+07,5.599445e+07,5.777559e+07,6.171469e+07,7.141438e+07,7.527952e+07,...,1.018627e+08,9.087602e+07,1.010003e+08,1.112395e+08,9.791867e+07,1.080989e+08,128229503.8,153462152.2,152645352.9,Lower middle income
130,Sudan,SDN,1.714427e+09,2.162447e+09,2.728719e+09,3.851322e+09,5.141536e+09,6.922223e+09,1.017740e+10,1.331072e+10,...,1.234165e+10,7.627752e+09,7.715882e+09,5.146941e+08,6.207032e+08,7.339809e+08,861795538.2,197613737.1,203915566.9,Low income
62,Guinea-Bissau,GNB,8.321453e+07,7.450797e+07,8.918836e+07,9.821824e+07,9.480361e+07,7.611109e+07,1.407135e+08,1.723340e+08,...,2.823675e+08,1.530918e+08,1.909862e+08,2.131710e+08,2.887143e+08,3.125320e+08,374997825.7,380311738.4,292073122.7,Low income
61,"Gambia, The",GMB,1.499981e+08,1.570338e+08,1.514388e+08,1.981012e+08,2.045466e+08,2.217297e+08,2.307686e+08,2.260684e+08,...,2.376661e+08,2.807610e+08,2.610791e+08,2.684760e+08,2.700721e+08,2.362191e+08,252666151.7,362977085.0,341709153.6,Low income
27,Central African Republic,CAF,1.600169e+08,1.589994e+08,2.083127e+08,1.781040e+08,1.787795e+08,2.092799e+08,2.399339e+08,2.193479e+08,...,3.200540e+08,2.899230e+08,2.532741e+08,3.159751e+08,2.894378e+08,2.705020e+08,357682917.1,354024715.4,349974476.7,Low income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,419436695.0,546952298.8,471496742.4,Lower middle income

# Cleaned Exports DataFrame

In [27]:
new_exports_df = new_exports_df.round(2)
new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,High income
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Lower middle income
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,Upper middle income
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.158680e+11,3.755140e+11,3.922450e+11,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,High income
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,9.781093e+10,8.865585e+10,8.069047e+10,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.424398e+10,1.300881e+10,1.363339e+10,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Lower middle income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Lower middle income
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,Upper middle income
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Low income
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Lower middle income

In [28]:
new_exports_df["Income_Group"] = new_exports_df["Income_Group"].apply(lambda x: x.replace("Upper middle income", "High income"))

new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,High income
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Lower middle income
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,High income
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.158680e+11,3.755140e+11,3.922450e+11,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,High income
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,9.781093e+10,8.865585e+10,8.069047e+10,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.424398e+10,1.300881e+10,1.363339e+10,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Lower middle income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Lower middle income
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,High income
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Low income
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Lower middle income

In [29]:
new_exports_df["Income_Group"] = new_exports_df["Income_Group"].apply(lambda x: x.replace("Lower middle income", "Low income"))

new_exports_df

,Country_Name,Country_Code,ex_2001,ex_2002,ex_2003,ex_2004,ex_2005,ex_2006,ex_2007,ex_2008,...,ex_2011,ex_2012,ex_2013,ex_2014,ex_2015,ex_2016,ex_2017,ex_2018,ex_2019,Income_Group
0,Aruba,ABW,1.346369e+09,1.266480e+09,1.282123e+09,1.458101e+09,1.606704e+09,1.595531e+09,1.741899e+09,1.863128e+09,...,1.839665e+09,1.911732e+09,2.088268e+09,2.184358e+09,2.158659e+09,2.143017e+09,2.243575e+09,2.363128e+09,2.468715e+09,High income
1,Angola,AGO,6.736804e+09,8.725781e+09,9.676100e+09,1.374977e+10,2.422566e+10,3.324511e+10,4.431970e+10,6.416838e+10,...,6.639509e+10,6.992413e+10,6.769742e+10,6.134143e+10,2.595175e+10,1.401738e+10,2.000493e+10,3.176775e+10,2.827171e+10,Low income
2,Albania,ALB,8.367179e+08,9.107297e+08,1.169850e+09,1.596262e+09,1.853023e+09,2.242665e+09,3.016116e+09,3.259294e+09,...,3.769458e+09,3.565049e+09,3.694412e+09,3.732057e+09,3.104897e+09,3.437127e+09,4.110291e+09,4.785178e+09,4.821431e+09,High income
3,United Arab Emirates,ARE,5.078720e+10,5.436270e+10,6.953846e+10,9.396860e+10,1.220710e+11,1.524340e+11,1.866900e+11,2.488080e+11,...,3.158680e+11,3.755140e+11,3.922450e+11,4.013670e+11,3.612530e+11,3.606260e+11,3.840440e+11,3.928630e+11,4.040460e+11,High income
4,Argentina,ARG,3.111242e+10,2.773661e+10,3.308451e+10,3.926700e+10,4.619818e+10,5.355025e+10,6.516232e+10,7.976296e+10,...,9.781093e+10,8.865585e+10,8.069047e+10,7.581887e+10,6.367179e+10,6.984249e+10,7.286059e+10,7.576658e+10,8.013050e+10,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Uzbekistan,UZB,3.383384e+09,2.995507e+09,3.875170e+09,5.027333e+09,5.409531e+09,6.328127e+09,8.851137e+09,1.216507e+10,...,1.424398e+10,1.300881e+10,1.363339e+10,1.297120e+10,1.186603e+10,1.062349e+10,1.288067e+10,1.419089e+10,1.702659e+10,Low income
156,Vanuatu,VUT,9.789935e+07,1.111077e+08,1.360922e+08,1.664371e+08,1.792472e+08,1.813346e+08,2.147553e+08,2.745667e+08,...,3.512382e+08,3.837215e+08,3.919084e+08,3.971806e+08,3.364462e+08,3.815902e+08,4.194367e+08,5.469523e+08,4.714967e+08,Low income
157,South Africa,ZAF,3.569472e+10,3.670126e+10,4.711793e+10,5.821524e+10,6.817228e+10,7.930237e+10,9.312445e+10,1.019670e+11,...,1.269130e+11,1.178930e+11,1.137690e+11,1.105500e+11,9.608590e+10,9.110902e+10,1.042880e+11,1.112850e+11,1.060700e+11,High income
158,Zambia,ZMB,1.028112e+09,1.137945e+09,1.258987e+09,2.086548e+09,2.550445e+09,4.157838e+09,4.721900e+09,5.179706e+09,...,9.494353e+09,1.022237e+10,1.135024e+10,1.053677e+10,7.892389e+09,7.403491e+09,9.053912e+09,9.987197e+09,8.073235e+09,Low income
159,Zimbabwe,ZWE,2.369300e+09,2.019000e+09,1.855571e+09,2.001178e+09,1.930797e+09,1.957417e+09,1.999583e+09,1.831053e+09,...,4.907581e+09,4.306653e+09,4.197687e+09,4.080441e+09,3.824969e+09,4.098132e+09,3.456997e+09,5.081366e+09,6.026541e+09,Low income

# Exporting the Cleaned DataFrame as CSV File

In [30]:
# Create the output file (CSV).
output_data_file = "../cleaned_datasets/new_exports.csv"
# Export the City_Data into a CSV.
new_exports_df.to_csv(output_data_file, index = False)