In [1]:
#initial Imports
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
#files to load
GDP_per_capita_file_path = ("Resources/GDP_per_capita.csv")
country_code_file_path = ("Resources/country-codes.csv")
countries_region_income = ("Resources/countries_region_income.csv")

## Clean GDP data

In [3]:
# read in file
GDP_data = pd.read_csv(GDP_per_capita_file_path)
df = pd.DataFrame(GDP_data)
df

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,59.7732337032148,59.8608999923829,58.4580086983139,78.7064287776753,82.0953065340517,101.108325163758,...,638.845851607289,624.315454506615,614.223342360392,556.007220861443,512.012778129357,516.679862210543,485.668418729808,494.179349886029,516.747870807558,..
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,..,..,..,..,..,..,...,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732,5332.16047456847,6494.38571288581
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,246.303751319472,214.771980100889,172.242508957181,226.895450128271,238.0437103942,249.883585607009,...,5592.22011465753,5499.58733105334,5493.05669453687,4177.8895415169,3946.45244712537,4109.69821695727,4142.01855842917,3989.66827645236,3306.85820838104,3765.03462494702
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,..,..,..,..,..,..,...,11496.5240977923,11450.7241954879,11525.1563872309,12059.6351646776,12038.2496994923,11003.8297642807,11521.6097798453,11715.3601388487,12844.9009909959,..
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,..,..,..,..,..,..,...,38684.5665299216,39538.3552064403,41302.3821426181,35770.9186530024,37474.7458403618,38964.662014361,41793.3188365378,40898.4179063904,37416.6977203275,43047.6862704034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 09/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]', '2021 [YR2021]'],
      dtype='object')>

In [5]:
df = df.drop(df.columns[4:45], axis=1)
# df

In [6]:
df = df.drop(df.columns[0:2], axis=1)
# df

In [7]:
df = df.drop(df.columns[21:23], axis=1)
# df

In [8]:
df.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['Country Name', 'Country Code', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]',
       '2019 [YR2019]'],
      dtype='object')>

In [9]:
df = df.set_axis(['country_name', 'country_code', 'gpc_2001', 'gpc_2002','gpc_2003','gpc_2004','gpc_2005','gpc_2006',
                                            'gpc_2007','gpc_2008','gpc_2009','gpc_2010','gpc_2011','gpc_2012','gpc_2013','gpc_2014','gpc_2015','gpc_2016','gpc_2017',
                                            'gpc_2018','gpc_2019'], axis = 1, inplace=False)
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
0,Afghanistan,AFG,..,179.426579211394,190.683814295088,211.382074198939,242.031313175022,263.733601866274,359.693157866109,364.6635420423,...,543.306526178281,591.190030208565,638.845851607289,624.315454506615,614.223342360392,556.007220861443,512.012778129357,516.679862210543,485.668418729808,494.179349886029
1,Albania,ALB,1281.6598256178,1425.12421860142,1846.12012081207,2373.58129170055,2673.78658429559,2972.74292399799,3595.03805682893,4370.5399247769,...,4094.34838574494,4437.14261222684,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732
2,Algeria,DZA,1740.60665427662,1781.82890798394,2103.38129106939,2610.18542243488,3113.09488313746,3478.71000237566,3950.5129931247,4923.63161541179,...,4480.78631766464,5455.67940349747,5592.22011465753,5499.58733105334,5493.05669453687,4177.8895415169,3946.45244712537,4109.69821695727,4142.01855842917,3989.66827645236
3,American Samoa,ASM,..,8666.65538195914,8807.46281200101,8528.24877689163,8395.31877025371,8340.52343974691,8874.87792759607,9740.82449121586,...,10216.8176306968,10223.2983588916,11496.5240977923,11450.7241954879,11525.1563872309,12059.6351646776,12038.2496994923,11003.8297642807,11521.6097798453,11715.3601388487
4,Andorra,AND,22970.5122133619,25067.2400639132,32272.8458909877,37966.1872524395,40064.2249292197,42674.7589681092,47804.8499340211,48719.6587699036,...,40849.7612766794,43333.9730414795,38684.5665299216,39538.3552064403,41302.3821426181,35770.9186530024,37474.7458403618,38964.662014361,41793.3188365378,40898.4179063904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.dropna()
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
0,Afghanistan,AFG,..,179.426579211394,190.683814295088,211.382074198939,242.031313175022,263.733601866274,359.693157866109,364.6635420423,...,543.306526178281,591.190030208565,638.845851607289,624.315454506615,614.223342360392,556.007220861443,512.012778129357,516.679862210543,485.668418729808,494.179349886029
1,Albania,ALB,1281.6598256178,1425.12421860142,1846.12012081207,2373.58129170055,2673.78658429559,2972.74292399799,3595.03805682893,4370.5399247769,...,4094.34838574494,4437.14261222684,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732
2,Algeria,DZA,1740.60665427662,1781.82890798394,2103.38129106939,2610.18542243488,3113.09488313746,3478.71000237566,3950.5129931247,4923.63161541179,...,4480.78631766464,5455.67940349747,5592.22011465753,5499.58733105334,5493.05669453687,4177.8895415169,3946.45244712537,4109.69821695727,4142.01855842917,3989.66827645236
3,American Samoa,ASM,..,8666.65538195914,8807.46281200101,8528.24877689163,8395.31877025371,8340.52343974691,8874.87792759607,9740.82449121586,...,10216.8176306968,10223.2983588916,11496.5240977923,11450.7241954879,11525.1563872309,12059.6351646776,12038.2496994923,11003.8297642807,11521.6097798453,11715.3601388487
4,Andorra,AND,22970.5122133619,25067.2400639132,32272.8458909877,37966.1872524395,40064.2249292197,42674.7589681092,47804.8499340211,48719.6587699036,...,40849.7612766794,43333.9730414795,38684.5665299216,39538.3552064403,41302.3821426181,35770.9186530024,37474.7458403618,38964.662014361,41793.3188365378,40898.4179063904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,SSF,594.434444321552,629.455425620411,772.769761067037,935.764934770637,1082.21416238718,1242.00009288337,1400.86266899238,1548.95537067417,...,1670.55403153336,1830.88264526029,1852.84089188473,1913.7372257658,1928.53420210314,1692.67429410075,1538.24441673708,1622.98261366666,1606.86341924427,1618.92077064802
262,Sub-Saharan Africa (excluding high income),SSA,593.587328337264,628.52817097875,771.872371855746,934.727384944081,1081.11554215438,1240.82572535565,1399.71748166849,1547.94355305383,...,1669.61066543265,1829.86873435934,1851.8651283776,1912.51133731048,1927.28388723456,1691.41056609812,1536.92933133768,1621.6323409707,1605.49002331914,1617.54193226682
263,Sub-Saharan Africa (IDA & IBRD countries),TSS,594.434444321552,629.455425620411,772.769761067037,935.764934770636,1082.21416238718,1242.00009288337,1400.86266899238,1548.95537067417,...,1670.55403153336,1830.88264526029,1852.84089188473,1913.7372257658,1928.53420210314,1692.67429410075,1538.24441673709,1622.98261366666,1606.86341924427,1618.92077064803
264,Upper middle income,UMC,1964.54933863313,1962.96178694351,2181.08595446151,2595.0891462929,3095.98478470738,3652.25334911503,4493.65237669287,5443.19266403504,...,6300.08541246828,7556.48341993734,8031.9362100123,8551.33613541085,8746.2657033762,8149.75183997258,8041.06232407941,8834.5262262122,9448.6348536615,9548.20023835792
265,World,WLD,5427.39118901622,5565.59251398012,6163.07895523448,6859.58398547951,7337.48982179067,7854.10439590898,8743.39603276206,9489.96601219516,...,9621.12828842617,10544.875810483,10648.2372249605,10815.5800128167,10976.383454178,10231.7025852204,10286.4113296305,10825.9023691211,11366.0736692165,11407.4793339488

In [11]:
df.isnull().sum()

country_name    0
country_code    0
gpc_2001        0
gpc_2002        0
gpc_2003        0
gpc_2004        0
gpc_2005        0
gpc_2006        0
gpc_2007        0
gpc_2008        0
gpc_2009        0
gpc_2010        0
gpc_2011        0
gpc_2012        0
gpc_2013        0
gpc_2014        0
gpc_2015        0
gpc_2016        0
gpc_2017        0
gpc_2018        0
gpc_2019        0
dtype: int64

In [12]:
df['country_name'].tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Arab World',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle income',
 'North America',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Upper middle income',
 'World']

In [13]:
#drop columns that are not countries
#a. set first column as axis
df = df.set_index(df["country_name"])
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
country_name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Afghanistan,AFG,..,179.426579211394,190.683814295088,211.382074198939,242.031313175022,263.733601866274,359.693157866109,364.6635420423,...,543.306526178281,591.190030208565,638.845851607289,624.315454506615,614.223342360392,556.007220861443,512.012778129357,516.679862210543,485.668418729808,494.179349886029
Albania,Albania,ALB,1281.6598256178,1425.12421860142,1846.12012081207,2373.58129170055,2673.78658429559,2972.74292399799,3595.03805682893,4370.5399247769,...,4094.34838574494,4437.14261222684,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732
Algeria,Algeria,DZA,1740.60665427662,1781.82890798394,2103.38129106939,2610.18542243488,3113.09488313746,3478.71000237566,3950.5129931247,4923.63161541179,...,4480.78631766464,5455.67940349747,5592.22011465753,5499.58733105334,5493.05669453687,4177.8895415169,3946.45244712537,4109.69821695727,4142.01855842917,3989.66827645236
American Samoa,American Samoa,ASM,..,8666.65538195914,8807.46281200101,8528.24877689163,8395.31877025371,8340.52343974691,8874.87792759607,9740.82449121586,...,10216.8176306968,10223.2983588916,11496.5240977923,11450.7241954879,11525.1563872309,12059.6351646776,12038.2496994923,11003.8297642807,11521.6097798453,11715.3601388487
Andorra,Andorra,AND,22970.5122133619,25067.2400639132,32272.8458909877,37966.1872524395,40064.2249292197,42674.7589681092,47804.8499340211,48719.6587699036,...,40849.7612766794,43333.9730414795,38684.5665299216,39538.3552064403,41302.3821426181,35770.9186530024,37474.7458403618,38964.662014361,41793.3188365378,40898.4179063904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sub-Saharan Africa,Sub-Saharan Africa,SSF,594.434444321552,629.455425620411,772.769761067037,935.764934770637,1082.21416238718,1242.00009288337,1400.86266899238,1548.95537067417,...,1670.55403153336,1830.88264526029,1852.84089188473,1913.7372257658,1928.53420210314,1692.67429410075,1538.24441673708,1622.98261366666,1606.86341924427,1618.92077064802
Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (excluding high income),SSA,593.587328337264,628.52817097875,771.872371855746,934.727384944081,1081.11554215438,1240.82572535565,1399.71748166849,1547.94355305383,...,1669.61066543265,1829.86873435934,1851.8651283776,1912.51133731048,1927.28388723456,1691.41056609812,1536.92933133768,1621.6323409707,1605.49002331914,1617.54193226682
Sub-Saharan Africa (IDA & IBRD countries),Sub-Saharan Africa (IDA & IBRD countries),TSS,594.434444321552,629.455425620411,772.769761067037,935.764934770636,1082.21416238718,1242.00009288337,1400.86266899238,1548.95537067417,...,1670.55403153336,1830.88264526029,1852.84089188473,1913.7372257658,1928.53420210314,1692.67429410075,1538.24441673709,1622.98261366666,1606.86341924427,1618.92077064803
Upper middle income,Upper middle income,UMC,1964.54933863313,1962.96178694351,2181.08595446151,2595.0891462929,3095.98478470738,3652.25334911503,4493.65237669287,5443.19266403504,...,6300.08541246828,7556.48341993734,8031.9362100123,8551.33613541085,8746.2657033762,8149.75183997258,8041.06232407941,8834.5262262122,9448.6348536615,9548.20023835792
World,World,WLD,5427.39118901622,5565.59251398012,6163.07895523448,6859.58398547951,7337.48982179067,7854.10439590898,8743.39603276206,9489.96601219516,...,9621.12828842617,10544.875810483,10648.2372249605,10815.5800128167,10976.383454178,10231.7025852204,10286.4113296305,10825.9023691211,11366.0736692165,11407.4793339488

In [14]:
df = df.drop(labels=[
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Arab World',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle income',
 'North America',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Upper middle income',
 'World'],axis=0, inplace= False)

In [15]:
df = df.dropna()
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
country_name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Afghanistan,AFG,..,179.426579211394,190.683814295088,211.382074198939,242.031313175022,263.733601866274,359.693157866109,364.6635420423,...,543.306526178281,591.190030208565,638.845851607289,624.315454506615,614.223342360392,556.007220861443,512.012778129357,516.679862210543,485.668418729808,494.179349886029
Albania,Albania,ALB,1281.6598256178,1425.12421860142,1846.12012081207,2373.58129170055,2673.78658429559,2972.74292399799,3595.03805682893,4370.5399247769,...,4094.34838574494,4437.14261222684,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732
Algeria,Algeria,DZA,1740.60665427662,1781.82890798394,2103.38129106939,2610.18542243488,3113.09488313746,3478.71000237566,3950.5129931247,4923.63161541179,...,4480.78631766464,5455.67940349747,5592.22011465753,5499.58733105334,5493.05669453687,4177.8895415169,3946.45244712537,4109.69821695727,4142.01855842917,3989.66827645236
American Samoa,American Samoa,ASM,..,8666.65538195914,8807.46281200101,8528.24877689163,8395.31877025371,8340.52343974691,8874.87792759607,9740.82449121586,...,10216.8176306968,10223.2983588916,11496.5240977923,11450.7241954879,11525.1563872309,12059.6351646776,12038.2496994923,11003.8297642807,11521.6097798453,11715.3601388487
Andorra,Andorra,AND,22970.5122133619,25067.2400639132,32272.8458909877,37966.1872524395,40064.2249292197,42674.7589681092,47804.8499340211,48719.6587699036,...,40849.7612766794,43333.9730414795,38684.5665299216,39538.3552064403,41302.3821426181,35770.9186530024,37474.7458403618,38964.662014361,41793.3188365378,40898.4179063904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),Virgin Islands (U.S.),VIR,..,30062.0225050457,31731.2566241187,35006.3614404514,40828.7460927775,41377.1466009652,44158.5054044325,39152.3750657306,...,39905.1284180994,38997.1373164651,37795.3192590675,34597.9766940328,33045.3643795999,34007.3529411765,35324.9748874586,35365.0693039774,36653.8630480089,38596.0307118282
West Bank and Gaza,West Bank and Gaza,PSE,1335.55319529359,1156.21747345769,1257.69857009689,1422.19088643544,1543.70141392774,1570.10439962728,1664.24571669276,2035.20234121766,...,2557.07562356699,2880.79843707909,3067.43872735614,3315.29753909282,3352.11259506043,3272.15432360708,3527.61382413178,3620.36048715937,3562.33094270256,3656.85827137011
"Yemen, Rep.","Yemen, Rep.",YEM,550.360364536532,579.853140602094,620.382725994575,709.96537880616,832.844198687909,921.418354862175,1017.29204849729,1229.24667476708,...,1334.78490225941,1374.62140060517,1446.53647172899,1607.15217325898,1674.00257166372,1601.80716299947,1152.73801930955,964.340343636774,758.145948927092,750.554583376727
Zambia,Zambia,ZMB,382.941035235257,382.241963342278,435.458199377947,538.591553038374,702.741118447779,1047.9188431217,1124.29058597692,1394.00049997193,...,1489.45908689417,1672.90753526193,1763.06944249903,1878.34681050661,1762.42781692474,1338.29092708188,1280.80654257604,1535.19657398198,1516.36837125728,1305.00103080403
Zimbabwe,Zimbabwe,ZWE,568.386290532649,530.53044625893,478.007604434538,482.998451486038,476.555402524382,447.854739946441,431.787258728843,356.693234400305,...,948.331481033457,1093.65340855817,1304.96801065699,1429.99846146678,1434.89627731806,1445.06970213198,1464.58895715841,1235.18903192064,1254.64226494434,1316.74065692871

In [16]:
#check null values
df.isna().sum()

country_name    0
country_code    0
gpc_2001        0
gpc_2002        0
gpc_2003        0
gpc_2004        0
gpc_2005        0
gpc_2006        0
gpc_2007        0
gpc_2008        0
gpc_2009        0
gpc_2010        0
gpc_2011        0
gpc_2012        0
gpc_2013        0
gpc_2014        0
gpc_2015        0
gpc_2016        0
gpc_2017        0
gpc_2018        0
gpc_2019        0
dtype: int64

In [17]:
df['gpc_2001'].tolist()

['..',
 '1281.6598256178',
 '1740.60665427662',
 '..',
 '22970.5122133619',
 '527.333528536691',
 '10367.3196068161',
 '7208.37311355372',
 '694.423455373229',
 '20417.7759623298',
 '19527.3235767954',
 '24558.7636778868',
 '703.683843432722',
 '27486.2367737544',
 '12868.1769170821',
 '415.034404287378',
 '11209.4211248688',
 '1244.37318523431',
 '23015.0712632462',
 '3417.09022428717',
 '518.067474134696',
 '58883.9594265967',
 '764.432808246182',
 '948.870204281826',
 '1544.60207235926',
 '3278.01607934706',
 '3160.24934491441',
 '..',
 '16472.0032948215',
 '1770.91353394746',
 '267.097599629023',
 '134.363426917623',
 '1292.22651152195',
 '321.150223642203',
 '687.648134393621',
 '23822.0601178964',
 '..',
 '250.576194304531',
 '197.146082103195',
 '41807.079018288',
 '4609.21396034224',
 '1053.10824300262',
 '2439.68245582205',
 '680.905572824133',
 '153.591044080197',
 '869.100509658205',
 '3960.30770307437',
 '997.478784298968',
 '5412.92513590593',
 '2837.73573008299',
 '..',
 '14821.447265625',
 '6637.04165713981',
 '30751.654348268',
 '780.903961316367',
 '4883.00302426696',
 '2977.43451003068',
 '1894.61619585804',
 '1378.20338333845',
 '2072.3015906358',
 '2313.16593689273',
 '316.823953429739',
 '4505.85833233188',
 '1521.76907531716',
 '120.765783730897',
 '24724.4579532836',
 '2030.24635131517',
 '24967.7925153182',
 '22452.9823753273',
 '..',
 '3993.03133624881',
 '505.421636114705',
 '801.990413888373',
 '23628.3272122367',
 '269.014984764581',
 '..',
 '12549.036894906',
 '19275.4733376066',
 '5041.01223518709',
 '..',
 '1550.36036555447',
 '336.154020658897',
 '319.957449358104',
 '955.665380611907',
 '735.521117948839',
 '1133.18637171644',
 '25230.2163329516',
 '5276.03318905496',
 '28897.4439396908',
 '451.572997293746',
 '748.257608719846',
 '1909.41230644823',
 '1494.38880236281',
 '28282.409882073',
 '21351.116935905',
 '20316.2480483237',
 '20500.9543995672',
 '3437.65551653148',
 '34406.1824638092',
 '1720.36142731527',
 '1490.92708987166',
 '395.329471608887',
 '735.069106401359',
 '..',
 '11561.2483689073',
 '..',
 '16587.2486486214',
 '308.409611591149',
 '326.941786715295',
 '3578.00190041351',
 '4422.38929245061',
 '405.605712148955',
 '306.710251570113',
 '6266.4898210897',
 '74287.4133739546',
 '3525.79363185461',
 '48440.1420151355',
 '15665.2979678214',
 '334.441617716753',
 '150.148942630026',
 '3913.42938647946',
 '3038.7814166818',
 '307.705828628661',
 '10402.233373566',
 '2389.06070685262',
 '646.1151155329',
 '3856.62522686864',
 '7544.56872335784',
 '2248.49211533078',
 '507.557658390849',
 '83724.465911527',
 '524.054008363595',
 '1909.59870186179',
 '1339.29406738281',
 '296.268406913079',
 '131.715298215255',
 '1950.64853633254',
 '..',
 '246.725558064189',
 '26896.5481111196',
 '15174.2774308861',
 '13882.8568268586',
 '1034.55138685018',
 '208.37705993638',
 '590.381815034907',
 '1823.02356104612',
 '..',
 '38542.715099709',
 '8475.96864264505',
 '544.494251402474',
 '8092.20732336256',
 '4046.42914824085',
 '515.684780393696',
 '1565.0542885389',
 '1941.47534195424',
 '990.565991260447',
 '4991.24435799511',
 '11734.7649743954',
 '18123.1987019918',
 '28517.2208367328',
 '1825.17980455979',
 '2100.3525390625',
 '238.788134020174',
 '1518.29369033585',
 '38730.8030430952',
 '524.669872100335',
 '8684.64576229464',
 '648.441473299398',
 '1727.28119565526',
 '7663.13708026446',
 '229.37565952613',
 '21700.0200458315',
 '..',
 '5722.1681828083',
 '10479.7596309273',
 '965.935499700581',
 '..',
 '2971.81976918833',
 '..',
 '15369.0011599444',
 '832.80357234611',
 '10283.032801538',
 '5642.7489037614',
 '..',
 '4282.69040253454',
 '456.624237060547',
 '1750.57673687227',
 '27247.857734793',
 '39727.8466713883',
 '5175.2619444591',
 '171.048064575398',
 '406.538757324219',
 '1893.26423865967',
 '529.778165896224',
 '292.823103529291',
 '1839.08686653094',
 '6939.82847117988',
 '2253.03485218065',
 '3142.92099774582',
 '774.482151976644',
 '16625.488923904',
 '1473.4158776561',
 '239.473127019302',
 '807.801940917969',
 '31280.7558649555',
 '27806.4488245133',
 '37133.623113437',
 '6284.45968003773',
 '456.706289511583',
 '1363.18505842973',
 '4986.67578837167',
 '404.807861229282',
 '..',
 '1335.55319529359',
 '550.360364536532',
 '382.941035235257',
 '568.386290532649']

In [18]:
#replace .. with NaN
df = df.replace('..', np.nan)

In [19]:
df = df.dropna()
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
country_name,,,,,,,,,,,,,,,,,,,,,
Albania,Albania,ALB,1281.6598256178,1425.12421860142,1846.12012081207,2373.58129170055,2673.78658429559,2972.74292399799,3595.03805682893,4370.5399247769,...,4094.34838574494,4437.14261222684,4247.63004748194,4413.06200528903,4578.63320812155,3952.80253807527,4124.05538986272,4531.0193737689,5287.66369446913,5396.21586434732
Algeria,Algeria,DZA,1740.60665427662,1781.82890798394,2103.38129106939,2610.18542243488,3113.09488313746,3478.71000237566,3950.5129931247,4923.63161541179,...,4480.78631766464,5455.67940349747,5592.22011465753,5499.58733105334,5493.05669453687,4177.8895415169,3946.45244712537,4109.69821695727,4142.01855842917,3989.66827645236
Andorra,Andorra,AND,22970.5122133619,25067.2400639132,32272.8458909877,37966.1872524395,40064.2249292197,42674.7589681092,47804.8499340211,48719.6587699036,...,40849.7612766794,43333.9730414795,38684.5665299216,39538.3552064403,41302.3821426181,35770.9186530024,37474.7458403618,38964.662014361,41793.3188365378,40898.4179063904
Angola,Angola,AGO,527.333528536691,872.494441791273,982.960981888823,1255.56423822184,1902.42214975937,2599.56594793067,3121.99608528081,4080.94101529549,...,3497.9744877961,4518.31335013452,4978.43443525745,5127.71724294327,5094.11232930191,3127.89059784461,1728.02375418026,2313.22058359692,2524.94248263123,2177.79901475964
Antigua and Barbuda,Antigua and Barbuda,ATG,10367.3196068161,10401.0508759034,10797.9510571837,11446.9691417182,12557.5478500769,13995.8044243845,15622.6928710238,16044.1057963132,...,13048.9605816199,12746.6334682021,13272.7349447294,12910.5906255945,13501.5809223367,14285.3297773091,15198.7429664112,15383.5763979856,16679.5916624545,17376.6496765004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Vietnam,VNM,404.807861229282,430.052872413573,480.579834256949,546.909619010829,687.479727391611,784.372375930354,906.284229938514,1149.42449524183,...,1673.3292888042,1942.08701034555,2178.0431710646,2354.87411736109,2545.41676778941,2581.62244157361,2745.56558793783,2974.11722851858,3230.92771257461,3425.08925344793
West Bank and Gaza,West Bank and Gaza,PSE,1335.55319529359,1156.21747345769,1257.69857009689,1422.19088643544,1543.70141392774,1570.10439962728,1664.24571669276,2035.20234121766,...,2557.07562356699,2880.79843707909,3067.43872735614,3315.29753909282,3352.11259506043,3272.15432360708,3527.61382413178,3620.36048715937,3562.33094270256,3656.85827137011
"Yemen, Rep.","Yemen, Rep.",YEM,550.360364536532,579.853140602094,620.382725994575,709.96537880616,832.844198687909,921.418354862175,1017.29204849729,1229.24667476708,...,1334.78490225941,1374.62140060517,1446.53647172899,1607.15217325898,1674.00257166372,1601.80716299947,1152.73801930955,964.340343636774,758.145948927092,750.554583376727
Zambia,Zambia,ZMB,382.941035235257,382.241963342278,435.458199377947,538.591553038374,702.741118447779,1047.9188431217,1124.29058597692,1394.00049997193,...,1489.45908689417,1672.90753526193,1763.06944249903,1878.34681050661,1762.42781692474,1338.29092708188,1280.80654257604,1535.19657398198,1516.36837125728,1305.00103080403
Zimbabwe,Zimbabwe,ZWE,568.386290532649,530.53044625893,478.007604434538,482.998451486038,476.555402524382,447.854739946441,431.787258728843,356.693234400305,...,948.331481033457,1093.65340855817,1304.96801065699,1429.99846146678,1434.89627731806,1445.06970213198,1464.58895715841,1235.18903192064,1254.64226494434,1316.74065692871

In [20]:
#convert data type
df.dtypes

country_name    object
country_code    object
gpc_2001        object
gpc_2002        object
gpc_2003        object
gpc_2004        object
gpc_2005        object
gpc_2006        object
gpc_2007        object
gpc_2008        object
gpc_2009        object
gpc_2010        object
gpc_2011        object
gpc_2012        object
gpc_2013        object
gpc_2014        object
gpc_2015        object
gpc_2016        object
gpc_2017        object
gpc_2018        object
gpc_2019        object
dtype: object

In [21]:
df[['gpc_2001', 'gpc_2002','gpc_2003','gpc_2004','gpc_2005','gpc_2006',
    'gpc_2007','gpc_2008','gpc_2009','gpc_2010','gpc_2011','gpc_2012','gpc_2013',
    'gpc_2014','gpc_2015','gpc_2016','gpc_2017','gpc_2018','gpc_2019']] = df[['gpc_2001', 
    'gpc_2002','gpc_2003','gpc_2004','gpc_2005','gpc_2006','gpc_2007','gpc_2008','gpc_2009',
    'gpc_2010','gpc_2011','gpc_2012','gpc_2013','gpc_2014','gpc_2015','gpc_2016','gpc_2017',
    'gpc_2018','gpc_2019']].apply(pd.to_numeric)

In [22]:
df.dtypes

country_name     object
country_code     object
gpc_2001        float64
gpc_2002        float64
gpc_2003        float64
gpc_2004        float64
gpc_2005        float64
gpc_2006        float64
gpc_2007        float64
gpc_2008        float64
gpc_2009        float64
gpc_2010        float64
gpc_2011        float64
gpc_2012        float64
gpc_2013        float64
gpc_2014        float64
gpc_2015        float64
gpc_2016        float64
gpc_2017        float64
gpc_2018        float64
gpc_2019        float64
dtype: object

In [23]:
#b. format to nearest hundreth
df = df.round(2)
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
country_name,,,,,,,,,,,,,,,,,,,,,
Albania,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,4094.35,4437.14,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22
Algeria,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,4480.79,5455.68,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67
Andorra,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,40849.76,43333.97,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42
Angola,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,3497.97,4518.31,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80
Antigua and Barbuda,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,13048.96,12746.63,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Vietnam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,1673.33,1942.09,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09
West Bank and Gaza,West Bank and Gaza,PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,2557.08,2880.80,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86
"Yemen, Rep.","Yemen, Rep.",YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1334.78,1374.62,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55
Zambia,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1489.46,1672.91,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00
Zimbabwe,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,948.33,1093.65,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74

In [24]:
#reset index
df = df.reset_index(drop=True)
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,4094.35,4437.14,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,4480.79,5455.68,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,40849.76,43333.97,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,3497.97,4518.31,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,13048.96,12746.63,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,1673.33,1942.09,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09
192,West Bank and Gaza,PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,2557.08,2880.80,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86
193,"Yemen, Rep.",YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1334.78,1374.62,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1489.46,1672.91,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,948.33,1093.65,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74

## Country Codes

In [25]:
#merge in dataframe for consistency in country names across various tables
#create df
#read in df for with country codes
country_codes = pd.read_csv(country_code_file_path)
country_codes_df = pd.DataFrame(country_codes)
country_codes_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [26]:
#check that there are no null values in counrty codes df
country_codes_df.isnull().sum()

English short name lower case    0
Alpha-2 code                     1
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [27]:
#show null row
null_country_codes = country_codes_df[country_codes_df.isna().any(axis=1)]
print(null_country_codes)

    English short name lower case Alpha-2 code Alpha-3 code  Numeric code  \
151                       Namibia          NaN          NAM           516

        ISO 3166-2
151  ISO 3166-2:NA

In [28]:
print(df.columns)

Index(['country_name', 'country_code', 'gpc_2001', 'gpc_2002', 'gpc_2003',
       'gpc_2004', 'gpc_2005', 'gpc_2006', 'gpc_2007', 'gpc_2008', 'gpc_2009',
       'gpc_2010', 'gpc_2011', 'gpc_2012', 'gpc_2013', 'gpc_2014', 'gpc_2015',
       'gpc_2016', 'gpc_2017', 'gpc_2018', 'gpc_2019'],
      dtype='object')

In [29]:
#Replace Namibia NaN with string for country code
namibia_code = "NA"
country_codes_df.loc[151,"Alpha-2 code"] = namibia_code

#recheck null values in country codes
print("Namibia info")
print(country_codes_df.loc[151])
print("")

print("Null Values")
print(country_codes_df.isnull().sum())

Namibia info
English short name lower case          Namibia
Alpha-2 code                                NA
Alpha-3 code                               NAM
Numeric code                               516
ISO 3166-2                       ISO 3166-2:NA
Name: 151, dtype: object

Null Values
English short name lower case    0
Alpha-2 code                     0
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [30]:
#merge df with region_income_df
df = df.merge(country_codes_df, how="left", left_on=["country_code"], right_on=["Alpha-3 code"])
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,3952.80,4124.06,4531.02,5287.66,5396.22,Albania,AL,ALB,8,ISO 3166-2:AL
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,4177.89,3946.45,4109.70,4142.02,3989.67,Algeria,DZ,DZA,12,ISO 3166-2:DZ
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,35770.92,37474.75,38964.66,41793.32,40898.42,Andorra,AD,AND,20,ISO 3166-2:AD
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,3127.89,1728.02,2313.22,2524.94,2177.80,Angola,AO,AGO,24,ISO 3166-2:AO
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,14285.33,15198.74,15383.58,16679.59,17376.65,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,2581.62,2745.57,2974.12,3230.93,3425.09,Viet Nam,VN,VNM,704,ISO 3166-2:VN
192,West Bank and Gaza,PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,3272.15,3527.61,3620.36,3562.33,3656.86,"Palestinian Territory, Occupied",PS,PSE,275,ISO 3166-2:PS
193,"Yemen, Rep.",YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1601.81,1152.74,964.34,758.15,750.55,Yemen,YE,YEM,887,ISO 3166-2:YE
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1338.29,1280.81,1535.20,1516.37,1305.00,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,1445.07,1464.59,1235.19,1254.64,1316.74,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [31]:
#check null values
df.isnull().sum()

country_name                     0
country_code                     0
gpc_2001                         0
gpc_2002                         0
gpc_2003                         0
gpc_2004                         0
gpc_2005                         0
gpc_2006                         0
gpc_2007                         0
gpc_2008                         0
gpc_2009                         0
gpc_2010                         0
gpc_2011                         0
gpc_2012                         0
gpc_2013                         0
gpc_2014                         0
gpc_2015                         0
gpc_2016                         0
gpc_2017                         0
gpc_2018                         0
gpc_2019                         0
English short name lower case    0
Alpha-2 code                     0
Alpha-3 code                     0
Numeric code                     0
ISO 3166-2                       0
dtype: int64

In [32]:
#drop rows that are not countries
df = df.dropna()
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,3952.80,4124.06,4531.02,5287.66,5396.22,Albania,AL,ALB,8,ISO 3166-2:AL
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,4177.89,3946.45,4109.70,4142.02,3989.67,Algeria,DZ,DZA,12,ISO 3166-2:DZ
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,35770.92,37474.75,38964.66,41793.32,40898.42,Andorra,AD,AND,20,ISO 3166-2:AD
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,3127.89,1728.02,2313.22,2524.94,2177.80,Angola,AO,AGO,24,ISO 3166-2:AO
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,14285.33,15198.74,15383.58,16679.59,17376.65,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,2581.62,2745.57,2974.12,3230.93,3425.09,Viet Nam,VN,VNM,704,ISO 3166-2:VN
192,West Bank and Gaza,PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,3272.15,3527.61,3620.36,3562.33,3656.86,"Palestinian Territory, Occupied",PS,PSE,275,ISO 3166-2:PS
193,"Yemen, Rep.",YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1601.81,1152.74,964.34,758.15,750.55,Yemen,YE,YEM,887,ISO 3166-2:YE
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1338.29,1280.81,1535.20,1516.37,1305.00,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,1445.07,1464.59,1235.19,1254.64,1316.74,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [33]:
#clean up data frame

#a. drop country name row from GDP_growth_df
df = df.drop(['country_name', 'Alpha-2 code', 'Alpha-3 code','Numeric code', 'ISO 3166-2'], axis=1)

In [34]:
df.columns.tolist()

['country_code',
 'gpc_2001',
 'gpc_2002',
 'gpc_2003',
 'gpc_2004',
 'gpc_2005',
 'gpc_2006',
 'gpc_2007',
 'gpc_2008',
 'gpc_2009',
 'gpc_2010',
 'gpc_2011',
 'gpc_2012',
 'gpc_2013',
 'gpc_2014',
 'gpc_2015',
 'gpc_2016',
 'gpc_2017',
 'gpc_2018',
 'gpc_2019',
 'English short name lower case']

In [35]:
#b. rename new Country name Column
df = df.rename({"English short name lower case": "country_name"}, axis=1)
df

,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,gpc_2009,...,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,country_name
0,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,4114.13,...,4437.14,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22,Albania
1,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,3883.27,...,5455.68,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67,Algeria
2,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,43504.22,...,43333.97,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42,Andorra
3,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,3122.78,...,4518.31,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80,Angola
4,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,14160.56,...,12746.63,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65,Antigua and Barbuda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,1217.27,...,1942.09,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09,Viet Nam
192,PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,2191.78,...,2880.80,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86,"Palestinian Territory, Occupied"
193,YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,1116.08,...,1374.62,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55,Yemen
194,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,1159.91,...,1672.91,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00,Zambia
195,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,771.60,...,1093.65,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74,Zimbabwe

In [36]:
#d.reorganize columns
df = df.loc[:,["country_name",'country_code', 'gpc_2001', 'gpc_2002', 'gpc_2003', 'gpc_2004', 'gpc_2005', 
                                   'gpc_2006', 'gpc_2007', 'gpc_2008', 'gpc_2009', 'gpc_2010', 'gpc_2011', 'gpc_2012', 
                                   'gpc_2013', 'gpc_2014', 'gpc_2015', 'gpc_2016', 'gpc_2017', 'gpc_2018', 'gpc_2019',]]
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2010,gpc_2011,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,4094.35,4437.14,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,4480.79,5455.68,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,40849.76,43333.97,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,3497.97,4518.31,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,13048.96,12746.63,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Viet Nam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,1673.33,1942.09,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09
192,"Palestinian Territory, Occupied",PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,2557.08,2880.80,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86
193,Yemen,YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1334.78,1374.62,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1489.46,1672.91,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,948.33,1093.65,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74

## Region Income

In [37]:
#merge in dataframe for consistency in country names across various tables
#read in csv
region_income = pd.read_csv(countries_region_income)

#create DataFrame
region_income_df = pd.DataFrame(region_income)
region_income_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [38]:
#merge df with region_income_df
df = df.merge(region_income_df, how="left", left_on=["country_code"], right_on=["Country Code"])
df.head(20)

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,3952.80,4124.06,4531.02,5287.66,5396.22,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,4177.89,3946.45,4109.70,4142.02,3989.67,DZA,Middle East & North Africa,Lower middle income,NaN,Algeria
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,35770.92,37474.75,38964.66,41793.32,40898.42,AND,Europe & Central Asia,High income,NaN,Andorra
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,3127.89,1728.02,2313.22,2524.94,2177.80,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,14285.33,15198.74,15383.58,16679.59,17376.65,ATG,Latin America & Caribbean,High income,NaN,Antigua and Barbuda
5,Argentina,ARG,7208.37,2593.40,3349.81,4277.72,5109.85,5919.01,7245.45,9020.87,...,13789.06,12790.24,14613.04,11795.16,10076.36,ARG,Latin America & Caribbean,Upper middle income,The World Bank systematically assesses the app...,Argentina
6,Armenia,ARM,694.42,783.24,930.13,1191.92,1643.76,2158.15,3139.28,4010.86,...,3607.29,3591.83,3914.53,4220.54,4604.65,ARM,Europe & Central Asia,Upper middle income,NaN,Armenia
7,Aruba,ABW,20417.78,20654.49,21070.07,22834.28,23591.16,24495.02,26452.23,28048.15,...,28399.05,28453.72,29348.42,30253.71,31135.88,ABW,Latin America & Caribbean,High income,NaN,Aruba
8,Australia,AUS,19527.32,20117.79,23492.41,30513.94,34081.00,36117.49,41001.14,49654.91,...,56707.02,49881.76,53934.25,57180.78,54875.29,AUS,East Asia & Pacific,High income,The reporting period for national accounts dat...,Australia
9,Austria,AUT,24558.76,26527.59,32294.05,36889.23,38417.46,40669.33,46915.34,51919.98,...,44195.82,45307.59,47429.16,51486.58,50114.40,AUT,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria
10,Azerbaijan,AZE,703.68,763.08,883.73,1045.01,1578.40,2473.08,3851.44,5574.60,...,5500.31,3880.74,4147.09,4739.84,4805.75,AZE,Europe & Central Asia,Upper middle income,NaN,Azerbaijan
11,Bahamas,BHS,27486.24,28867.08,28327.81,28396.01,30279.39,30713.80,31472.29,30627.33,...,31699.36,31314.84,32371.01,33077.39,33872.33,BHS,Latin America & Caribbean,High income,NaN,"Bahamas, The"
12,Bahrain,BHR,12868.18,13049.91,14222.04,15846.51,17959.40,19307.51,20976.44,23066.45,...,22634.09,22608.45,23742.94,24086.30,23552.38,BHR,Middle East & North Africa,High income,NaN,Bahrain
13,Bangladesh,BGD,415.03,413.08,446.31,475.29,499.46,509.64,558.05,634.99,...,1248.45,1678.95,1839.58,1991.48,2154.23,BGD,South Asia,Lower middle income,The reporting period for national accounts dat...,Bangladesh
14,Barbados,BRB,11209.42,11361.52,11699.37,12512.58,13822.74,15199.39,16770.69,17092.31,...,16558.86,16909.89,17404.21,17782.87,18480.06,BRB,Latin America & Caribbean,High income,NaN,Barbados
15,Belarus,BLR,1244.37,1479.31,1819.77,2378.62,3125.81,3847.43,4735.66,6377.37,...,5967.05,5039.68,5785.67,6360.06,6837.72,BLR,Europe & Central Asia,Upper middle income,Data before 2015 were adjusted to reflect the ...,Belarus
16,Belgium,BEL,23015.07,25006.19,30655.21,35429.41,36809.70,38705.11,44319.17,48303.40,...,41008.30,42012.62,44198.48,47549.21,46599.11,BEL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium
17,Belize,BLZ,3417.09,3553.12,3677.15,3824.93,3916.36,4157.19,4290.90,4408.38,...,4805.20,4877.67,4909.60,4927.19,4983.34,BLZ,Latin America & Caribbean,Upper middle income,NaN,Belize
18,Benin,BEN,518.07,574.93,711.28,798.74,822.79,856.05,966.20,1125.43,...,1076.80,1087.29,1136.59,1241.83,1219.52,BEN,Sub-Saharan Africa,Lower middle income,NaN,Benin
19,Bermuda,BMU,58883.96,62583.10,66111.73,70359.32,75882.03,95221.86,104287.39,106935.49,...,102005.63,106885.88,111820.58,113050.74,116153.17,BMU,North America,High income,NaN,Bermuda

In [39]:
#drop country column
df = df.drop(["Country Code", "SpecialNotes", "TableName"], axis=1)
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,Region,IncomeGroup
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22,Europe & Central Asia,Upper middle income
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67,Middle East & North Africa,Lower middle income
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42,Europe & Central Asia,High income
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80,Sub-Saharan Africa,Lower middle income
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65,Latin America & Caribbean,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Viet Nam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09,East Asia & Pacific,Lower middle income
192,"Palestinian Territory, Occupied",PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86,Middle East & North Africa,Lower middle income
193,Yemen,YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55,Middle East & North Africa,Low income
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00,Sub-Saharan Africa,Low income
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74,Sub-Saharan Africa,Lower middle income

In [40]:
#b. rename new Country name Column
df = df.rename({"Region": "region", "IncomeGroup": "income_group"}, axis=1)
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,region,income_group
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22,Europe & Central Asia,Upper middle income
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67,Middle East & North Africa,Lower middle income
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42,Europe & Central Asia,High income
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80,Sub-Saharan Africa,Lower middle income
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65,Latin America & Caribbean,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Viet Nam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09,East Asia & Pacific,Lower middle income
192,"Palestinian Territory, Occupied",PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86,Middle East & North Africa,Lower middle income
193,Yemen,YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55,Middle East & North Africa,Low income
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00,Sub-Saharan Africa,Low income
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74,Sub-Saharan Africa,Lower middle income

In [41]:
#simplify income category for machine learning
df['income_group'] = df["income_group"].str.replace("Upper middle income", "High income", case=False)
df['income_group'] = df["income_group"].str.replace("Lower middle income", "Low income", case=False)
df

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,region,income_group
0,Albania,ALB,1281.66,1425.12,1846.12,2373.58,2673.79,2972.74,3595.04,4370.54,...,4247.63,4413.06,4578.63,3952.80,4124.06,4531.02,5287.66,5396.22,Europe & Central Asia,High income
1,Algeria,DZA,1740.61,1781.83,2103.38,2610.19,3113.09,3478.71,3950.51,4923.63,...,5592.22,5499.59,5493.06,4177.89,3946.45,4109.70,4142.02,3989.67,Middle East & North Africa,Low income
2,Andorra,AND,22970.51,25067.24,32272.85,37966.19,40064.22,42674.76,47804.85,48719.66,...,38684.57,39538.36,41302.38,35770.92,37474.75,38964.66,41793.32,40898.42,Europe & Central Asia,High income
3,Angola,AGO,527.33,872.49,982.96,1255.56,1902.42,2599.57,3122.00,4080.94,...,4978.43,5127.72,5094.11,3127.89,1728.02,2313.22,2524.94,2177.80,Sub-Saharan Africa,Low income
4,Antigua and Barbuda,ATG,10367.32,10401.05,10797.95,11446.97,12557.55,13995.80,15622.69,16044.11,...,13272.73,12910.59,13501.58,14285.33,15198.74,15383.58,16679.59,17376.65,Latin America & Caribbean,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Viet Nam,VNM,404.81,430.05,480.58,546.91,687.48,784.37,906.28,1149.42,...,2178.04,2354.87,2545.42,2581.62,2745.57,2974.12,3230.93,3425.09,East Asia & Pacific,Low income
192,"Palestinian Territory, Occupied",PSE,1335.55,1156.22,1257.70,1422.19,1543.70,1570.10,1664.25,2035.20,...,3067.44,3315.30,3352.11,3272.15,3527.61,3620.36,3562.33,3656.86,Middle East & North Africa,Low income
193,Yemen,YEM,550.36,579.85,620.38,709.97,832.84,921.42,1017.29,1229.25,...,1446.54,1607.15,1674.00,1601.81,1152.74,964.34,758.15,750.55,Middle East & North Africa,Low income
194,Zambia,ZMB,382.94,382.24,435.46,538.59,702.74,1047.92,1124.29,1394.00,...,1763.07,1878.35,1762.43,1338.29,1280.81,1535.20,1516.37,1305.00,Sub-Saharan Africa,Low income
195,Zimbabwe,ZWE,568.39,530.53,478.01,483.00,476.56,447.85,431.79,356.69,...,1304.97,1430.00,1434.90,1445.07,1464.59,1235.19,1254.64,1316.74,Sub-Saharan Africa,Low income

In [42]:
#export to csv
df.to_csv("Resources/cleaned_datasets/clean_GDP_per_capita.csv", index=False)

In [43]:
## Additional summary metrics

In [44]:
#find top 10 countries
top_10_countries = df.sort_values(by="gpc_2019",ascending= False).head(10)
top_10_countries = top_10_countries.reset_index(drop=True)

print("Highest GDP per Capita")
top_10_countries

Highest GDP per Capita

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,region,income_group
0,Monaco,MCO,83724.47,90506.86,108656.80,123523.49,124197.28,134048.62,169966.31,185785.73,...,157520.22,177673.75,189432.37,165989.51,170028.66,167517.06,185978.61,189487.15,Europe & Central Asia,High income
1,Liechtenstein,LIE,74287.41,79345.75,89859.87,100289.24,105399.26,114374.25,130655.64,143264.06,...,149010.22,173030.21,178864.85,167313.27,165642.39,171253.96,176499.40,169049.16,Europe & Central Asia,High income
2,Bermuda,BMU,58883.96,62583.10,66111.73,70359.32,75882.03,95221.86,104287.39,106935.49,...,98431.87,99471.64,98467.68,102005.63,106885.88,111820.58,113050.74,116153.17,North America,High income
3,Luxembourg,LUX,48440.14,53005.73,65689.32,76544.92,80988.14,90788.80,107475.32,120422.14,...,112584.68,120000.14,123678.70,105462.01,106899.29,110193.21,117254.74,113218.71,Europe & Central Asia,High income
4,Isle of Man,IMN,21351.12,24864.44,29522.28,35494.67,37766.68,42107.84,54196.30,70986.30,...,79148.33,83357.13,92334.65,85126.97,82197.13,83477.83,89112.67,86481.55,Europe & Central Asia,High income
5,Macao,MAC,15665.30,16424.93,17921.10,22568.31,25183.13,30121.56,36550.51,40810.83,...,76572.15,89260.76,93022.88,74818.95,73545.76,81019.47,87526.08,86197.37,East Asia & Pacific,High income
6,Switzerland,CHE,39727.85,42578.76,49470.40,54878.47,56546.79,59300.62,65359.52,74572.23,...,86547.67,88109.49,89684.71,84776.14,83073.28,83352.09,86388.40,85334.52,Europe & Central Asia,High income
7,Ireland,IRL,28282.41,32705.43,41203.53,47754.20,50933.02,54329.16,61396.42,61353.11,...,49026.02,51533.03,55599.85,62012.48,62861.64,69774.03,79107.60,80886.62,Europe & Central Asia,High income
8,Norway,NOR,38542.72,43084.47,50134.89,57603.84,66810.48,74148.32,85139.96,96944.10,...,101524.14,102913.45,97019.18,74355.52,70460.56,75496.75,82267.81,75719.75,Europe & Central Asia,High income
9,Iceland,ISL,28897.44,32409.22,39476.70,47334.93,56794.85,57492.93,69495.73,56943.37,...,45995.55,49804.98,54576.74,52951.68,61987.93,72010.15,74469.80,68941.46,Europe & Central Asia,High income

In [45]:
#Find the bottom ten countries in 2019.
#find 10 countries with cmallest gdp growth
bottom_10_countries = df.sort_values(by="gpc_2019",ascending= True).head(10)
#reset index
bottom_10_countries = bottom_10_countries.reset_index(drop=True)

print('Smallest GDP per Capita')
bottom_10_countries

Smallest GDP per Capita

,country_name,country_code,gpc_2001,gpc_2002,gpc_2003,gpc_2004,gpc_2005,gpc_2006,gpc_2007,gpc_2008,...,gpc_2012,gpc_2013,gpc_2014,gpc_2015,gpc_2016,gpc_2017,gpc_2018,gpc_2019,region,income_group
0,Burundi,BDI,134.36,123.12,113.57,128.34,151.68,167.38,172.50,198.35,...,252.36,256.97,274.86,305.51,251.65,250.51,238.03,223.86,Sub-Saharan Africa,Low income
1,Central African Republic,CAF,250.58,261.98,294.32,321.31,331.29,354.99,404.91,466.47,...,565.80,380.30,424.45,377.42,402.19,450.90,475.95,468.12,Sub-Saharan Africa,Low income
2,Mozambique,MOZ,296.27,302.55,326.08,383.27,416.81,435.33,482.20,563.65,...,657.65,664.08,673.97,589.86,428.93,461.41,503.30,506.82,Sub-Saharan Africa,Low income
3,Sierra Leone,SLE,229.38,252.40,266.45,266.57,292.35,323.39,360.37,408.48,...,566.38,716.84,714.70,588.23,501.42,496.68,533.99,521.75,Sub-Saharan Africa,Low income
4,Madagascar,MDG,334.44,319.22,368.80,284.49,319.54,338.75,438.66,536.35,...,518.15,541.07,530.86,467.24,475.96,515.29,518.40,526.22,Sub-Saharan Africa,Low income
5,Niger,NER,208.38,228.24,268.35,286.49,321.72,336.28,390.28,478.50,...,529.74,552.57,564.60,484.15,500.21,517.77,570.72,554.10,Sub-Saharan Africa,Low income
6,Malawi,MWI,150.15,298.43,267.40,282.57,289.56,308.16,332.26,387.61,...,391.56,348.43,371.27,380.60,315.78,506.14,544.59,591.85,Sub-Saharan Africa,Low income
7,"Congo, the Democratic Republic of the",COD,153.59,175.01,173.80,194.04,218.39,255.43,286.33,327.56,...,424.60,457.96,486.79,497.32,471.32,467.07,565.83,596.56,Sub-Saharan Africa,Low income
8,Liberia,LBR,306.71,306.47,243.09,286.06,294.89,336.12,396.60,478.40,...,675.01,747.87,739.91,721.58,740.91,721.09,710.27,672.34,Sub-Saharan Africa,Low income
9,Chad,TCD,197.15,221.42,292.60,454.34,658.57,710.40,799.60,929.38,...,967.35,979.81,1020.29,776.02,693.45,665.95,726.15,709.54,Sub-Saharan Africa,Low income

In [46]:
df.loc[df['country_name']== 'World']

Empty DataFrame
Columns: [country_name, country_code, gpc_2001, gpc_2002, gpc_2003, gpc_2004, gpc_2005, gpc_2006, gpc_2007, gpc_2008, gpc_2009, gpc_2010, gpc_2011, gpc_2012, gpc_2013, gpc_2014, gpc_2015, gpc_2016, gpc_2017, gpc_2018, gpc_2019, region, income_group]
Index: []

[0 rows x 23 columns]

In [47]:
#create df of mean global GDP per capita
#create varible
mean_GDP_per_capita = df.mean(axis = 0, numeric_only=None)
#create df with varible
mean_GDP_per_capita_df = pd.DataFrame(mean_GDP_per_capita)
#format numbers to hundreths
mean_GDP_per_capita_df = mean_GDP_per_capita_df.round(2)
#turn axis into column
mean_GDP_per_capita_df.reset_index(inplace=True)
#set axis name
mean_GDP_per_capita_df = mean_GDP_per_capita_df.set_axis(['Year','Mean'], axis=1)


mean_GDP_per_capita_df

        Year      Mean
0   gpc_2001   8156.46
1   gpc_2002   8637.04
2   gpc_2003  10001.57
3   gpc_2004  11426.26
4   gpc_2005  12363.53
5   gpc_2006  13552.04
6   gpc_2007  15528.87
7   gpc_2008  17106.00
8   gpc_2009  15137.51
9   gpc_2010  15925.12
10  gpc_2011  17597.25
11  gpc_2012  17379.10
12  gpc_2013  18118.32
13  gpc_2014  18434.91
14  gpc_2015  16550.89
15  gpc_2016  16648.25
16  gpc_2017  17525.49
17  gpc_2018  18625.86
18  gpc_2019  18426.34

In [48]:
#check null values
df.isnull().sum()

country_name    0
country_code    0
gpc_2001        0
gpc_2002        0
gpc_2003        0
gpc_2004        0
gpc_2005        0
gpc_2006        0
gpc_2007        0
gpc_2008        0
gpc_2009        0
gpc_2010        0
gpc_2011        0
gpc_2012        0
gpc_2013        0
gpc_2014        0
gpc_2015        0
gpc_2016        0
gpc_2017        0
gpc_2018        0
gpc_2019        0
region          0
income_group    0
dtype: int64

In [49]:
#export to csv
mean_GDP_per_capita_df.to_csv("Resources/cleaned_datasets/mean_GDP_per_capita.csv", index=False)