In [1]:
#Import Depenencies

import pandas as pd

In [2]:
#Creating a path to the .csv file.
file_to_inflation = "Resources/inflation_rates.csv"
file_to_codes = "Resources/country-codes.csv"

In [3]:
inflation_rates_csv = pd.read_csv(file_to_inflation)

In [4]:
#Use Pandas to create an inflation rates dataframe.
inflation_rates_df = pd.DataFrame(inflation_rates_csv)
inflation_rates_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.00000,1964.000000,1965.000000,...,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000
4,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691
266,"Yemen, Rep.",YEM,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,...,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672
268,Zambia,ZMB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234
269,Zimbabwe,ZWE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105

In [5]:
#Drop first 3 rows with no data
inflation_rates_df_clean = inflation_rates_df.iloc[3:, :]

#Use new first row as headers
headers = inflation_rates_df_clean.iloc[0]
inflation_rates_df_clean = inflation_rates_df_clean[1:]
inflation_rates_df_clean.columns = headers

inflation_rates_df_clean.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
5,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,5.404815,7.240978
6,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
7,Africa Western and Central,AFW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.492522,3.925603
8,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN,NaN
9,Albania,ALB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091,1.620887,2.041472
10,Andorra,AND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Arab World,ARB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.611844,3.238108,2.773516,1.814077,2.068840,1.966826,2.458142,1.091848,1.777408,3.243460
12,United Arab Emirates,ARE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.662269,1.101118,2.346269,4.069966,1.617488,1.966826,3.068634,-1.931081,-2.079403,NaN
13,Argentina,ARG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Drop the columns we don't need for our analysis.
inflation_rates_df = inflation_rates_df_clean.drop(inflation_rates_df_clean.columns[2:45], inplace=False, axis=1)
inflation_rates_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
4,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
5,Africa Eastern and Southern,AFE,5.840354,8.763754,7.449700,5.023421,8.558038,8.898164,8.450775,12.566645,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,5.404815,7.240978
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,12.686269,6.784597,8.680571,26.418664,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
7,Africa Western and Central,AFW,4.361529,3.188693,1.760904,0.694336,5.631634,4.415900,3.607368,8.449722,...,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.492522,3.925603
8,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,-1.084813,-1.064727,-1.385189,0.621647,4.358497,9.350418,...,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691
266,"Yemen, Rep.",YEM,11.911591,12.238534,10.832361,12.515095,11.811264,10.844799,7.905118,18.976257,...,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672
268,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234
269,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105

In [7]:
inflation_rates_df.drop(inflation_rates_df.columns[21:23], inplace=True, axis=1)

In [8]:
inflation_rates_df

3,Country Name,Country Code,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,2.078141,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462
5,Africa Eastern and Southern,AFE,5.840354,8.763754,7.449700,5.023421,8.558038,8.898164,8.450775,12.566645,...,5.537538,8.971206,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,12.686269,6.784597,8.680571,26.418664,...,2.178538,11.804186,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373
7,Africa Western and Central,AFW,4.361529,3.188693,1.760904,0.694336,5.631634,4.415900,3.607368,8.449722,...,1.784844,4.018699,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565
8,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,14.469656,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,-1.084813,-1.064727,-1.385189,0.621647,4.358497,9.350418,...,3.480508,7.336418,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992
266,"Yemen, Rep.",YEM,11.911591,12.238534,10.832361,12.515095,11.811264,10.844799,7.905118,18.976257,...,11.174834,19.543562,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,4.089730,4.999267,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246
268,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,8.501761,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316
269,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.022670,3.466130,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991

In [9]:
#Reformat the column names.
inflation_rates_df = inflation_rates_df.set_axis(['country_name', 'country_code', 'inf_2001', 'inf_2002', 'inf_2003', 'inf_2004', 'inf_2005', 'inf_2006', 'inf_2007', 'inf_2008',\
                                   'inf_2009', 'inf_2010', 'inf_2011', 'inf_2012', 'inf_2013', 'inf_2014', 'inf_2015', 'inf_2016', 'inf_2017', 'inf_2018', 'inf_2019'], axis=1)
inflation_rates_df

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2010,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019
4,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,2.078141,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462
5,Africa Eastern and Southern,AFE,5.840354,8.763754,7.449700,5.023421,8.558038,8.898164,8.450775,12.566645,...,5.537538,8.971206,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246
6,Afghanistan,AFG,NaN,NaN,NaN,NaN,12.686269,6.784597,8.680571,26.418664,...,2.178538,11.804186,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373
7,Africa Western and Central,AFW,4.361529,3.188693,1.760904,0.694336,5.631634,4.415900,3.607368,8.449722,...,1.784844,4.018699,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565
8,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,14.469656,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,NaN,NaN,-1.084813,-1.064727,-1.385189,0.621647,4.358497,9.350418,...,3.480508,7.336418,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992
266,"Yemen, Rep.",YEM,11.911591,12.238534,10.832361,12.515095,11.811264,10.844799,7.905118,18.976257,...,11.174834,19.543562,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN
267,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,4.089730,4.999267,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246
268,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,8.501761,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316
269,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.022670,3.466130,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991

In [10]:
#Identify any null values in our dataset.
inflation_rates_df.count()

country_name    266
country_code    266
inf_2001        215
inf_2002        217
inf_2003        220
inf_2004        221
inf_2005        224
inf_2006        227
inf_2007        229
inf_2008        230
inf_2009        233
inf_2010        235
inf_2011        238
inf_2012        237
inf_2013        235
inf_2014        233
inf_2015        232
inf_2016        232
inf_2017        227
inf_2018        224
inf_2019        222
dtype: int64

In [11]:
#Drop the null values in our dataset.
inflation_rates_df.dropna(inplace=True)

In [12]:
inflation_rates_df

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2010,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019
4,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,2.078141,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462
5,Africa Eastern and Southern,AFE,5.840354,8.763754,7.449700,5.023421,8.558038,8.898164,8.450775,12.566645,...,5.537538,8.971206,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246
7,Africa Western and Central,AFW,4.361529,3.188693,1.760904,0.694336,5.631634,4.415900,3.607368,8.449722,...,1.784844,4.018699,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565
8,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,14.469656,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215
9,Albania,ALB,3.107588,7.770526,0.484003,2.280019,2.366582,2.370728,2.932682,3.320871,...,3.626047,3.429123,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Vanuatu,VUT,3.577555,1.963568,3.016241,1.418919,1.199201,2.040816,3.935484,4.841713,...,2.762695,0.873793,1.347404,1.458934,0.798864,2.483269,0.842069,3.084526,2.330964,2.762520
263,World,WLD,3.838285,2.834423,3.031967,3.382647,4.112184,4.282396,4.816768,8.952970,...,3.354758,4.822396,3.725327,2.621050,2.346269,1.434318,1.550016,2.192010,2.438737,2.186902
264,Samoa,WSM,3.838285,8.050314,0.115830,16.313151,1.856764,3.700087,5.577064,11.565907,...,0.777007,5.235416,2.049019,0.610086,-0.406816,0.724470,1.304719,1.749897,4.197459,0.982327
267,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,4.089730,4.999267,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246
268,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,8.501761,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316

In [13]:
#Add the country codes csv
country_codes_df = pd.read_csv(file_to_codes)
country_codes_df

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX
2,Albania,AL,ALB,8,ISO 3166-2:AL
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ
4,American Samoa,AS,ASM,16,ISO 3166-2:AS
...,...,...,...,...,...
241,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF
242,Western Sahara,EH,ESH,732,ISO 3166-2:EH
243,Yemen,YE,YEM,887,ISO 3166-2:YE
244,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
245,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW

In [14]:
#Drop columns from the country code csv
country_codes_df.drop(country_codes_df.columns[3:5], inplace=True, axis=1)

In [15]:
#Drop the Alpha-2 code.
country_codes_df.drop(country_codes_df.columns[1], inplace=True, axis=1)

In [16]:
#Rename the Alpha-3 code and Country Name columns
country_codes_df = country_codes_df.rename(columns={"Alpha-3 code": "country_code","English short name lower case":"country_name"})

In [17]:
country_codes_df

          country_name country_code
0          Afghanistan          AFG
1        Åland Islands          ALA
2              Albania          ALB
3              Algeria          DZA
4       American Samoa          ASM
..                 ...          ...
241  Wallis and Futuna          WLF
242     Western Sahara          ESH
243              Yemen          YEM
244             Zambia          ZMB
245           Zimbabwe          ZWE

[246 rows x 2 columns]

In [18]:
countries_inflation_df = pd.merge(inflation_rates_df, country_codes_df, on= "country_code", suffixes=["","_codes"])
countries_inflation_df

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019,country_name_codes
0,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,Aruba
1,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,Angola
2,Albania,ALB,3.107588,7.770526,0.484003,2.280019,2.366582,2.370728,2.932682,3.320871,...,3.429123,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091,Albania
3,Armenia,ARM,3.145905,1.060049,4.721553,6.961261,0.638928,2.892357,4.407361,8.949953,...,7.650008,2.558020,5.789668,2.981309,3.731691,-1.403608,0.969553,2.520234,1.443447,Armenia
4,Antigua and Barbuda,ATG,1.402797,2.407658,1.993531,2.030078,2.098752,1.787785,1.416053,5.333806,...,3.456750,3.376880,1.059498,1.089442,0.968993,-0.489438,2.432488,1.207158,1.431356,Antigua and Barbuda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Vietnam,VNM,-0.431545,3.830828,3.234648,7.754947,8.284572,7.418017,8.344449,23.115448,...,18.677732,9.094703,6.592675,4.084554,0.631201,2.668248,3.520257,3.539628,2.795824,Viet Nam
154,Vanuatu,VUT,3.577555,1.963568,3.016241,1.418919,1.199201,2.040816,3.935484,4.841713,...,0.873793,1.347404,1.458934,0.798864,2.483269,0.842069,3.084526,2.330964,2.762520,Vanuatu
155,Samoa,WSM,3.838285,8.050314,0.115830,16.313151,1.856764,3.700087,5.577064,11.565907,...,5.235416,2.049019,0.610086,-0.406816,0.724470,1.304719,1.749897,4.197459,0.982327,Samoa
156,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,4.999267,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,South Africa
157,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,Zambia

In [19]:
countries_inflation_df.count()

country_name          158
country_code          158
inf_2001              158
inf_2002              158
inf_2003              158
inf_2004              158
inf_2005              158
inf_2006              158
inf_2007              158
inf_2008              158
inf_2009              158
inf_2010              158
inf_2011              158
inf_2012              158
inf_2013              158
inf_2014              158
inf_2015              158
inf_2016              158
inf_2017              158
inf_2018              158
inf_2019              158
country_name_codes    158
dtype: int64

In [20]:
#Remove country codes_names column
countries_inflation_df.drop(columns="country_name_codes", inplace=True)

In [21]:
countries_inflation_df

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2010,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019
0,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,2.078141,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462
1,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,14.469656,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215
2,Albania,ALB,3.107588,7.770526,0.484003,2.280019,2.366582,2.370728,2.932682,3.320871,...,3.626047,3.429123,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091
3,Armenia,ARM,3.145905,1.060049,4.721553,6.961261,0.638928,2.892357,4.407361,8.949953,...,8.176361,7.650008,2.558020,5.789668,2.981309,3.731691,-1.403608,0.969553,2.520234,1.443447
4,Antigua and Barbuda,ATG,1.402797,2.407658,1.993531,2.030078,2.098752,1.787785,1.416053,5.333806,...,3.370025,3.456750,3.376880,1.059498,1.089442,0.968993,-0.489438,2.432488,1.207158,1.431356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Vietnam,VNM,-0.431545,3.830828,3.234648,7.754947,8.284572,7.418017,8.344449,23.115448,...,9.207466,18.677732,9.094703,6.592675,4.084554,0.631201,2.668248,3.520257,3.539628,2.795824
154,Vanuatu,VUT,3.577555,1.963568,3.016241,1.418919,1.199201,2.040816,3.935484,4.841713,...,2.762695,0.873793,1.347404,1.458934,0.798864,2.483269,0.842069,3.084526,2.330964,2.762520
155,Samoa,WSM,3.838285,8.050314,0.115830,16.313151,1.856764,3.700087,5.577064,11.565907,...,0.777007,5.235416,2.049019,0.610086,-0.406816,0.724470,1.304719,1.749897,4.197459,0.982327
156,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,4.089730,4.999267,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246
157,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,8.501761,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316

In [22]:
#Import the countries income level to merge with the rest of our dataset.
file_income = pd.read_csv("Resources/countries_region_income.csv")

In [23]:
#Create a Dataframe for the countries income csv.
income_df = pd.DataFrame(file_income)
income_df

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...
260,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo
261,YEM,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,ZMB,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,ZWE,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [24]:
#Drop columns we don't need.
income_df.drop(["SpecialNotes", "Region", "TableName"], axis=1, inplace=True)

In [25]:
income_df

    Country Code          IncomeGroup
0            ABW          High income
1            AFE                  NaN
2            AFG           Low income
3            AFW                  NaN
4            AGO  Lower middle income
..           ...                  ...
260          XKX  Upper middle income
261          YEM           Low income
262          ZAF  Upper middle income
263          ZMB           Low income
264          ZWE  Lower middle income

[265 rows x 2 columns]

In [26]:
income_df = income_df.rename(columns={"Country Code":"country_code", "IncomeGroup":"income_group"})
income_df

    country_code         income_group
0            ABW          High income
1            AFE                  NaN
2            AFG           Low income
3            AFW                  NaN
4            AGO  Lower middle income
..           ...                  ...
260          XKX  Upper middle income
261          YEM           Low income
262          ZAF  Upper middle income
263          ZMB           Low income
264          ZWE  Lower middle income

[265 rows x 2 columns]

In [27]:
final_inflation_df = pd.merge(countries_inflation_df, income_df, on="country_code")
final_inflation_df

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019,income_group
0,Aruba,ABW,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,High income
1,Angola,AGO,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,Lower middle income
2,Albania,ALB,3.107588,7.770526,0.484003,2.280019,2.366582,2.370728,2.932682,3.320871,...,3.429123,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091,Upper middle income
3,Armenia,ARM,3.145905,1.060049,4.721553,6.961261,0.638928,2.892357,4.407361,8.949953,...,7.650008,2.558020,5.789668,2.981309,3.731691,-1.403608,0.969553,2.520234,1.443447,Upper middle income
4,Antigua and Barbuda,ATG,1.402797,2.407658,1.993531,2.030078,2.098752,1.787785,1.416053,5.333806,...,3.456750,3.376880,1.059498,1.089442,0.968993,-0.489438,2.432488,1.207158,1.431356,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Vietnam,VNM,-0.431545,3.830828,3.234648,7.754947,8.284572,7.418017,8.344449,23.115448,...,18.677732,9.094703,6.592675,4.084554,0.631201,2.668248,3.520257,3.539628,2.795824,Lower middle income
154,Vanuatu,VUT,3.577555,1.963568,3.016241,1.418919,1.199201,2.040816,3.935484,4.841713,...,0.873793,1.347404,1.458934,0.798864,2.483269,0.842069,3.084526,2.330964,2.762520,Lower middle income
155,Samoa,WSM,3.838285,8.050314,0.115830,16.313151,1.856764,3.700087,5.577064,11.565907,...,5.235416,2.049019,0.610086,-0.406816,0.724470,1.304719,1.749897,4.197459,0.982327,Lower middle income
156,South Africa,ZAF,5.701900,9.494711,5.679418,-0.692030,2.062846,3.243908,6.177807,10.074576,...,4.999267,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,Upper middle income
157,Zambia,ZMB,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,Low income

In [28]:
#Check for any null values.
final_inflation_df.count()

country_name    158
country_code    158
inf_2001        158
inf_2002        158
inf_2003        158
inf_2004        158
inf_2005        158
inf_2006        158
inf_2007        158
inf_2008        158
inf_2009        158
inf_2010        158
inf_2011        158
inf_2012        158
inf_2013        158
inf_2014        158
inf_2015        158
inf_2016        158
inf_2017        158
inf_2018        158
inf_2019        158
income_group    158
dtype: int64

In [29]:
#Format the percentages to the nearest tenths place.
final_inflation_df = final_inflation_df.round(2)

In [30]:
#Change the income group to low and high income.
final_inflation_df["income_group"] = final_inflation_df["income_group"].str.replace("Upper middle income", "High income", case=False)

In [31]:
final_inflation_df["income_group"] = final_inflation_df["income_group"].str.replace("Lower middle income", "Low income", case=False)

In [32]:
final_inflation_df

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019,income_group
0,Aruba,ABW,2.88,3.32,3.66,2.53,3.40,3.61,5.39,8.96,...,4.32,0.63,-2.37,0.42,0.47,-0.93,-1.03,3.63,4.26,High income
1,Angola,AGO,152.56,108.90,98.22,43.54,22.95,13.31,12.25,12.48,...,13.48,10.28,8.78,7.28,9.15,30.70,29.84,19.63,17.08,Low income
2,Albania,ALB,3.11,7.77,0.48,2.28,2.37,2.37,2.93,3.32,...,3.43,2.03,1.94,1.63,3.50,-0.37,2.06,2.03,1.41,High income
3,Armenia,ARM,3.15,1.06,4.72,6.96,0.64,2.89,4.41,8.95,...,7.65,2.56,5.79,2.98,3.73,-1.40,0.97,2.52,1.44,High income
4,Antigua and Barbuda,ATG,1.40,2.41,1.99,2.03,2.10,1.79,1.42,5.33,...,3.46,3.38,1.06,1.09,0.97,-0.49,2.43,1.21,1.43,High income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Vietnam,VNM,-0.43,3.83,3.23,7.75,8.28,7.42,8.34,23.12,...,18.68,9.09,6.59,4.08,0.63,2.67,3.52,3.54,2.80,Low income
154,Vanuatu,VUT,3.58,1.96,3.02,1.42,1.20,2.04,3.94,4.84,...,0.87,1.35,1.46,0.80,2.48,0.84,3.08,2.33,2.76,Low income
155,Samoa,WSM,3.84,8.05,0.12,16.31,1.86,3.70,5.58,11.57,...,5.24,2.05,0.61,-0.41,0.72,1.30,1.75,4.20,0.98,Low income
156,South Africa,ZAF,5.70,9.49,5.68,-0.69,2.06,3.24,6.18,10.07,...,5.00,5.72,5.78,6.13,4.54,6.57,5.18,4.52,4.12,High income
157,Zambia,ZMB,21.39,22.23,21.40,17.97,18.32,9.02,10.66,12.45,...,6.43,6.58,6.98,7.81,10.11,17.87,6.58,7.49,9.15,Low income

In [33]:
#Check the data types.
final_inflation_df.dtypes

country_name     object
country_code     object
inf_2001        float64
inf_2002        float64
inf_2003        float64
inf_2004        float64
inf_2005        float64
inf_2006        float64
inf_2007        float64
inf_2008        float64
inf_2009        float64
inf_2010        float64
inf_2011        float64
inf_2012        float64
inf_2013        float64
inf_2014        float64
inf_2015        float64
inf_2016        float64
inf_2017        float64
inf_2018        float64
inf_2019        float64
income_group     object
dtype: object

In [34]:
#Export final dataset to a csv file without an index.
final_inflation_df.to_csv("inflation_rates_data.csv", index=False)

In [35]:
#Find the top ten countries in 2019.
top_countries = final_inflation_df.sort_values(by="inf_2019", ascending=False)
top_countries.head(10)

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019,income_group
129,Sudan,SDN,1.94,22.22,6.49,9.66,8.51,7.20,14.75,14.30,...,18.10,35.56,36.52,36.91,16.91,17.75,32.35,63.29,50.99,Low income
70,"Iran, Islamic Rep.",IRN,11.27,14.34,16.47,14.76,13.43,10.02,17.34,25.41,...,26.29,27.26,36.60,16.61,12.48,7.25,8.04,18.01,39.91,Low income
65,Haiti,HTI,13.32,7.03,28.70,21.03,13.97,11.35,6.56,15.28,...,6.33,5.02,4.77,3.44,6.73,11.50,10.68,12.48,18.70,Low income
1,Angola,AGO,152.56,108.90,98.22,43.54,22.95,13.31,12.25,12.48,...,13.48,10.28,8.78,7.28,9.15,30.70,29.84,19.63,17.08,Low income
46,Ethiopia,ETH,-8.24,0.68,13.67,3.33,9.97,12.30,17.24,44.36,...,33.25,23.60,7.46,6.89,9.57,6.63,10.69,13.83,15.81,Low income
146,Turkiye,TUR,54.40,44.96,21.60,8.60,8.18,9.60,8.76,10.44,...,6.47,8.89,7.49,8.85,7.67,7.78,11.14,16.33,15.18,High income
108,Nigeria,NGA,18.87,12.88,14.03,15.00,17.86,8.23,5.39,11.58,...,10.84,12.22,8.48,8.06,9.01,15.68,16.52,12.09,11.40,Low income
115,Pakistan,PAK,3.15,3.29,2.91,7.44,9.06,7.92,7.60,20.29,...,11.92,9.68,7.69,7.19,2.53,3.77,4.09,5.08,10.58,Low income
105,Malawi,MWI,22.70,14.74,9.58,11.43,15.41,13.97,7.95,8.71,...,7.62,21.27,27.28,23.79,21.87,21.71,11.54,12.42,9.37,Low income
43,"Egypt, Arab Rep.",EGY,2.27,2.74,4.51,11.27,4.87,7.64,9.32,18.32,...,10.06,7.11,9.47,10.07,10.37,13.81,29.51,14.40,9.15,Low income

In [36]:
#Find the bottom ten countries in 2019.
bottom_countries = final_inflation_df.sort_values(by="inf_2019", ascending=True)
bottom_countries.head(10)

,country_name,country_code,inf_2001,inf_2002,inf_2003,inf_2004,inf_2005,inf_2006,inf_2007,inf_2008,...,inf_2011,inf_2012,inf_2013,inf_2014,inf_2015,inf_2016,inf_2017,inf_2018,inf_2019,income_group
11,Burkina Faso,BFA,5.01,2.18,2.03,-0.40,6.42,2.33,-0.23,10.66,...,2.76,3.82,0.53,-0.26,0.72,0.44,1.48,1.96,-3.23,Low income
107,Niger,NER,4.01,2.63,-1.61,0.26,7.80,0.04,0.05,11.31,...,2.94,0.46,2.30,-0.93,-0.58,1.65,2.80,2.97,-2.49,Low income
128,Saudi Arabia,SAU,-1.12,0.25,0.61,0.52,0.48,2.21,4.17,9.87,...,5.83,2.87,3.53,2.24,1.21,2.07,-0.84,2.46,-2.09,High income
99,Mali,MLI,5.19,5.03,-1.35,-3.10,6.40,1.54,1.41,9.17,...,2.96,5.32,-0.61,0.88,1.45,-1.80,1.76,0.30,-1.66,Low income
28,Cote d'Ivoire,CIV,4.36,3.08,3.30,1.46,3.89,2.47,1.89,6.31,...,4.91,1.30,2.58,0.45,1.25,0.72,0.69,0.36,-1.11,Low income
140,Chad,TCD,12.43,5.19,-1.75,-5.36,7.89,8.04,-8.97,10.30,...,2.03,7.52,0.22,1.68,4.38,-0.79,-1.54,4.27,-0.97,Low income
10,Benin,BEN,3.98,2.49,1.49,0.87,5.36,3.78,1.30,7.95,...,2.70,6.74,0.43,-0.55,0.22,-0.79,1.77,0.64,-0.71,Low income
8,Burundi,BDI,9.30,-1.37,10.65,8.18,13.25,2.75,8.41,24.41,...,9.59,18.16,7.94,4.41,5.54,5.56,16.05,-2.81,-0.69,Low income
124,Qatar,QAT,1.47,0.24,2.26,6.80,8.81,11.84,13.76,15.05,...,1.14,2.32,3.22,3.35,1.81,2.68,0.39,0.26,-0.67,High income
20,Brunei Darussalam,BRN,0.60,-2.31,0.30,0.81,1.24,0.16,0.97,2.08,...,0.14,0.11,0.39,-0.21,-0.49,-0.28,-1.26,1.03,-0.39,High income

In [37]:
#Find the average inflation rate for each year.
average_inflation = final_inflation_df.mean(axis=0, numeric_only=True).round(2)

In [38]:
average_inflation

inf_2001     7.40
inf_2002     6.11
inf_2003     5.86
inf_2004     5.16
inf_2005     5.66
inf_2006     5.48
inf_2007     5.43
inf_2008    10.00
inf_2009     4.12
inf_2010     4.07
inf_2011     5.98
inf_2012     5.29
inf_2013     4.04
inf_2014     3.56
inf_2015     3.09
inf_2016     3.12
inf_2017     3.75
inf_2018     3.61
inf_2019     3.33
dtype: float64

In [39]:
average_inflation_df = pd.DataFrame(average_inflation)

In [40]:
average_inflation_df

              0
inf_2001   7.40
inf_2002   6.11
inf_2003   5.86
inf_2004   5.16
inf_2005   5.66
inf_2006   5.48
inf_2007   5.43
inf_2008  10.00
inf_2009   4.12
inf_2010   4.07
inf_2011   5.98
inf_2012   5.29
inf_2013   4.04
inf_2014   3.56
inf_2015   3.09
inf_2016   3.12
inf_2017   3.75
inf_2018   3.61
inf_2019   3.33

In [41]:
#Export average dataset to a csv file without an index.
average_inflation_df.to_csv("average_inflation.csv", index=False)