In [ ]:
#Import Depenencies

import pandas as pd

In [ ]:
#Creating a path to the .csv file.
file_to_mil = "Resources/military_expenditure.csv"
file_to_codes = "Resources/country-codes.csv"

In [ ]:
mil_csv = pd.read_csv(file_to_mil)

In [ ]:
#Creating a DataFrame using Pandas

mil_df = pd.DataFrame(mil_csv)
mil_df

In [ ]:
#Drop first 3 rows with no data
mil_df_clean = mil_df.iloc[3:, :]

#Use new first row as headers
headers = mil_df_clean.iloc[0]
mil_df_clean = mil_df_clean[1:]
mil_df_clean.columns = headers

mil_df_clean.head(10)

In [ ]:
#Drop the columns we don't need for our analysis.
mil_exp_df = mil_df_clean.drop(mil_df_clean.columns[2:45], inplace=False, axis=1)
mil_exp_df

In [ ]:
mil_exp_df.drop(mil_exp_df.columns[21:23], inplace=True, axis=1)

In [ ]:
#Reformat the column names.
mil_exp_df = mil_exp_df.set_axis(['country_name', 'country_code', 'mil_2001', 'mil_2002', 'mil_2003', 'mil_2004', 'mil_2005', 'mil_2006', 'mil_2007', 'mil_2008',\
                                   'mil_2009', 'mil_2010', 'mil_2011', 'mil_2012', 'mil_2013', 'mil_2014', 'mil_2015', 'mil_2016', 'mil_2017', 'mil_2018', 'mil_2019'], axis=1)
mil_exp_df

In [ ]:
#Identify any null values in our dataset.
mil_exp_df.count()

In [ ]:
#Add the country codes csv
country_codes_df = pd.read_csv(file_to_codes)
country_codes_df

In [ ]:
#Drop columns from the country code csv
country_codes_df.drop(country_codes_df.columns[3:5], inplace=True, axis=1)

In [ ]:
#Drop the Alpha-2 code.
country_codes_df.drop(country_codes_df.columns[1], inplace=True, axis=1)

In [ ]:
#Rename the Alpha-3 code
country_codes_df = country_codes_df.rename(columns={"Alpha-3 code": "country_code","English short name lower case":"Country Name"})

In [ ]:
country_codes_df

In [ ]:
countries_mil_exp_df = pd.merge(mil_exp_df, country_codes_df, on= "country_code", suffixes=["","_codes"])
countries_mil_exp_df

In [ ]:
#Removing any null values.
countries_mil_exp_df.dropna(inplace=True)

In [ ]:
#Remove Country Name_codes column.
countries_mil_exp_df.drop(columns="Country Name", inplace=True)

In [ ]:
countries_mil_exp_df

In [ ]:
#Import the countries income level to merge with the rest of our dataset.
file_income = pd.read_csv("Resources/countries_region_income.csv")

In [ ]:
#Create a Dataframe for the countries income csv.
income_df = pd.DataFrame(file_income)
income_df

In [ ]:
#Drop columns we don't need.
income_df.drop(["SpecialNotes", "Region", "TableName"], axis=1, inplace=True)

In [ ]:
income_df

In [ ]:
income_df.rename(columns={"IncomeGroup":"income_group", "Country Code":"country_code"}, inplace=True)

In [ ]:
income_df

In [ ]:
final_mil_exp_df = pd.merge(countries_mil_exp_df, income_df, on="country_code")
final_mil_exp_df

In [ ]:
#Format percentages to the tenths decimal place.
final_mil_exp_df = final_mil_exp_df.round(2)

In [ ]:
#Check the dataFrames of the percentage columns.
final_mil_exp_df.dtypes

In [ ]:
#Change the income group to low and high income.
final_mil_exp_df["income_group"] = final_mil_exp_df["income_group"].str.replace("Upper middle income", "High income", case=False)
final_mil_exp_df["income_group"] = final_mil_exp_df["income_group"].str.replace("Lower middle income", "Low income", case=False)

In [ ]:
final_mil_exp_df

In [ ]:
#Export final dataset to a csv file without an index.
final_mil_exp_df.to_csv("military_expenditure_data.csv", index=False)

In [ ]:
#Find the top ten countries in 2019.
top_countries = final_mil_exp_df.sort_values(by="mil_2019", ascending=False)
top_countries.head(10)

In [ ]:
#Find the bottom ten countries in 2019.
bottom_countries = final_mil_exp_df.sort_values(by="mil_2019", ascending=True)
bottom_countries.head(12)

In [ ]:
#Find the average of each year
average_mil_exp = final_mil_exp_df.mean(numeric_only=True).round(2)

In [ ]:
average_mil_exp

In [ ]:
mil_avg_df = pd.DataFrame(average_mil_exp).reset_index()
mil_avg_df

In [ ]:
#Export average dataset with year index included.
#mil_avg_df.to_csv("average_military_exp.csv", index=True)

In [ ]:
mil_avg_df